<div class="flex flex-col gap-4">
  <div class="flex items-center md:justify-between overflow-auto">
    <app-breadcrumb [items]="['Cadastro', 'Empresas', `${formTitle()}`]" />
    <app-button-label
      class="is-hidden-mobile"
      (click)="onBackToCompaniesPage()"
      [id]="'company-form-back'"
      [iconName]="'keyboard_arrow_left'"
      [label]="'Voltar'"
      [isColorLogo]="false"
      (click)="onBackToCompaniesPage()" />
  </div>

  <!-- Dados cadastrais -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Dados cadastrais</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-nickname"
            >Nome Fantasia <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [id]="'company-form-nickname'"
            [inputName]="'custom'"
            [inputValue]="companyStore.companyData().nickname"
            [type]="'search'"
            (inputValueEmitter)="companyStore.onSetInputNewValue('nickname', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-name"
            >Nome <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [id]="'company-form-name'"
            [inputName]="'custom'"
            [inputValue]="companyStore.companyData().name"
            [type]="'search'"
            (inputValueEmitter)="companyStore.onSetInputNewValue('name', $event)" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-cnpj"
            >CNPJ ou CPF <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [id]="'company-form-cnpj'"
            [inputName]="'cnpj'"
            [inputValue]="companyStore.companyData().cnpj || ''"
            [type]="'search'"
            (inputValueEmitter)="companyStore.onSetInputNewValue('cnpj', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-ie">Inscrição Estadual</label>
          <app-input
            [id]="'company-form-ie'"
            [inputName]="'custom'"
            [inputValue]="companyStore.companyData().ie || ''"
            [type]="'search'"
            (inputValueEmitter)="companyStore.onSetInputNewValue('ie', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-im">Inscrição Municipal</label>
          <app-input
            [id]="'company-form-im'"
            [inputName]="'custom'"
            [inputValue]="companyStore.companyData().im || ''"
            [type]="'search'"
            (inputValueEmitter)="companyStore.onSetInputNewValue('im', $event)" />
        </div>
      </div>
    </div>
  </div>

  <!-- Endereço -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Endereço (Opcional)</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="company-form-nickname">CEP</label>
          <app-input
            [id]="'company-form-cep'"
            [inputName]="'postalCode'"
            [inputValue]="addressStore.addressData().postalCode"
            (changeEmitter)="addressStore.onSetAddressViaCEPValues()"
            (inputValueEmitter)="addressStore.onSetInputNewValue('postalCode', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-nickname">Logradouro</label>
          <app-input
            [id]="'company-form-address'"
            [inputName]="'custom'"
            [inputValue]="addressStore.addressData().address"
            [type]="'search'"
            (inputValueEmitter)="addressStore.onSetInputNewValue('address', $event)" />
        </div>
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="company-form-name">Número</label>
          <app-input
            [id]="'company-form-number'"
            [inputName]="'custom'"
            [inputValue]="addressStore.addressData().number || ''"
            [type]="'search'"
            (inputValueEmitter)="addressStore.onSetInputNewValue('number', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-cnpj">Complemento</label>
          <app-input
            [id]="'company-form-complement'"
            [inputName]="'custom'"
            [inputValue]="addressStore.addressData().complement || ''"
            [type]="'search'"
            (inputValueEmitter)="addressStore.onSetInputNewValue('complement', $event)" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-ie">Bairro</label>
          <app-input
            [id]="'company-form-district'"
            [inputName]="'custom'"
            [inputValue]="addressStore.addressData().district || ''"
            [type]="'search'"
            (inputValueEmitter)="addressStore.onSetInputNewValue('district', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-im">Cidade</label>
          <app-input
            [id]="'company-form-city'"
            [inputName]="'custom'"
            [inputValue]="addressStore.addressData().city || ''"
            [type]="'search'"
            (inputValueEmitter)="addressStore.onSetInputNewValue('city', $event)" />
        </div>
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="company-form-im">UF</label>
          <app-select
            [selectType]="'state'"
            [selectValue]="addressStore.addressData().state || 'Selecione um item'"
            (selectValueEmitter)="addressStore.onSetInputNewValue('state', $event)" />
        </div>
      </div>
    </div>
  </div>

  <!-- Contato -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Contato (Opcional)</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-name">Nome</label>
          <app-input
            [id]="'company-form-employee-name'"
            [inputName]="'custom'"
            [inputValue]="employeeStore.employeeData().name"
            [type]="'search'"
            (inputValueEmitter)="employeeStore.onSetInputNewValue('name', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-cnpj">Depto</label>
          <app-input
            [id]="'company-form-employee-department'"
            [inputName]="'custom'"
            [inputValue]="employeeStore.employeeData().department || ''"
            [type]="'search'"
            (inputValueEmitter)="employeeStore.onSetInputNewValue('department', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-cnpj">Cargo</label>
          <app-input
            [id]="'company-form-employee-position'"
            [inputName]="'custom'"
            [inputValue]="employeeStore.employeeData().position || ''"
            [type]="'search'"
            (inputValueEmitter)="employeeStore.onSetInputNewValue('position', $event)" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-ie">E-mail</label>
          <app-input
            [id]="'company-form-employee-email'"
            [inputName]="'custom'"
            [inputValue]="employeeStore.employeeData().email || ''"
            [type]="'search'"
            (inputValueEmitter)="employeeStore.onSetInputNewValue('email', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-im">Telefone fixo</label>
          <app-input
            [id]="'company-form-employee-deskphone'"
            [inputName]="'phone'"
            [inputValue]="employeeStore.employeeData().deskphone || ''"
            (inputValueEmitter)="employeeStore.onSetInputNewValue('deskphone', $event)" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-im">Celular</label>
          <app-input
            [id]="'company-form-employee-mobile'"
            [inputName]="'phone'"
            [inputValue]="employeeStore.employeeData().cellphone || ''"
            (inputValueEmitter)="employeeStore.onSetInputNewValue('cellphone', $event)" />
        </div>
      </div>
    </div>
  </div>

  <footer class="flex gap-4 items-center justify-center md:justify-end">
    <app-button-label
      (click)="onBackToCompaniesPage()"
      [iconName]="'close'"
      [label]="'Cancelar'"
      [isColorLogo]="false"></app-button-label>
    <app-button-label
      [iconName]="'save'"
      [label]="'Salvar'"
      (click)="companyStore.onSaveRegister(onBackToCompaniesPage)"></app-button-label>
  </footer>

  <!-- <app-modal-info
    [isModalActive]="modalStore.info().isActive"
    [description]="modalStore.info().description"
    [title]="modalStore.info().title"
    (clickEmitter)="onCloseCompanyFormInfoModal()" /> -->
</div>
