<div class="h-full relative">
  <app-button
    (click)="isHeaderBoxActive = !isHeaderBoxActive"
    [btnType]="'icon-menu'"
    [showIcon]="true"></app-button>
  @if (isHeaderBoxActive) {
    <div
      class="grid md:gap-1 gap-2 md:absolute px-4 py-2 border border-gray-500 bg-white text-black rounded-md text-sm w-full md:w-fit md:-left-48 md:-top-16 z-50">
      @for (header of tableHeaders; track $index) {
        @if ($index != 0) {
          <div>
            <input
              (click)="showTableHeader(header)"
              type="checkbox"
              [value]="header.name"
              [checked]="header.showHeader"
              [disabled]="header.name == 'Id'"
              [id]="header.id"
              class="mr-2" />
            <label [for]="header.id">{{ header.name }}</label>
          </div>
        }
      }
    </div>
  }
</div>
