<button
  [ngClass]="btnClass"
  [disabled]="isDisabled"
  [tabIndex]="tabIndex"
  (keydown)="onKeydown($event)"
  class="
        {{ btnClass }}
        flex
        text-xs
        md:text-sm
        rounded-md
        justify-center
        items-center
        gap-1
        font-semibold
        w-full
        px-4
        py-2
        disabled:bg-gray-400">
  @if (showLeftIcon) {
    <mat-icon [ngClass]="iconLeftClass" class="text-sm">{{ iconRightName }}</mat-icon>
  }
  <span class="flex self-center" [ngClass]="labelClass">{{ label }}</span>
  @if (showRightIcon) {
    <mat-icon [ngClass]="iconRightClass" class="text-sm">{{ iconRightName }}</mat-icon>
  }
</button>
