<div
  class="min-h-screen flex flex-col gap-2 justify-center px-4 pb-4 sm:mx-auto max-[450px]:mt-2 max-[450px]:mb-2 sm:w-full sm:max-w-sm">
  <!--Título-->
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <p class="text-center text-3xl font-bold">Cadastre-se!</p>
  </div>
  <!--Nome-->
  <div class="flex flex-col gap-2">
    <label for="name" class="block text-sm font-medium leading-6">Nome</label>
    <app-input
      [id]="'input-signup-name'"
      [inputType]="'custom'"
      [iconName]="'perm_identity'"
      (inputValueEmitter)="getNameValue($event)"
      [inputClass]="changeNameBorderColor()"
      [placeholder]="'Fulano da Silva'" />
    <div>
      <app-input-validation
        (emitValidationResult)="getNameValidation($event)"
        [inputValue]="signupData().name"
        [validationType]="'letters'"
        [validationLettersQty]="3"
        [validationText]="'Nome deve ter no mínimo 3 caracteres'"></app-input-validation>
    </div>
  </div>
  <!--E-mail-->
  <div class="flex flex-col gap-2">
    <label for="email" class="block text-sm font-medium leading-6">E-mail</label>
    <app-input
      [id]="'input-signup-email'"
      [inputType]="'email'"
      (inputValueEmitter)="getEmailValue($event)"
      [inputClass]="changeEmailBorderColor()" />
    <div>
      <app-input-validation
        (emitValidationResult)="getEmailValidation($event)"
        [inputValue]="signupData().email"
        [validationType]="'email'"
        [validationText]="'Email valido!'"></app-input-validation>
    </div>
  </div>
  <!--Senha-->
  <div class="flex flex-col gap-2">
    <label for="password" class="block text-sm font-medium leading-6">Senha</label>
    <app-input
      [id]="'input-signup-password'"
      [inputType]="'password'"
      [inputClass]="changePasswordBorderColor()"
      (inputValueEmitter)="getPasswordValue($event)"></app-input>
    <div>
      <app-input-validation
        (emitValidationResult)="getPasswordLettersValidation($event)"
        [inputValue]="signupData().password"
        [validationType]="'letters'"
        [validationLettersQty]="6"
        [validationText]="'A senha deve ter no mínimo 6 caracteres!'"></app-input-validation>
      <app-input-validation
        (emitValidationResult)="getPasswordUpperCaseValidation($event)"
        [inputValue]="signupData().password"
        [validationType]="'passwordUppercase'"
        [validationText]="'A senha deve ter no mínimo 1 letra maiúscula!'"></app-input-validation>
      <app-input-validation
        (emitValidationResult)="getPasswordNumberValidation($event)"
        [inputValue]="signupData().password"
        [validationType]="'passwordNumber'"
        s
        [validationText]="'A senha deve ter no mínimo 1 número!'"></app-input-validation>
      <app-input-validation
        (emitValidationResult)="getPasswordSymbolValidation($event)"
        [inputValue]="signupData().password"
        [validationType]="'passwordSymbol'"
        [validationText]="
          'A senha deve ter no mínimo 1 caractere especial!'
        "></app-input-validation>
    </div>
  </div>
  <!--Confirmar Senha-->
  <div class="flex flex-col gap-2">
    <label for="password" class="block text-sm font-medium leading-6">Confirmar senha</label>
    <app-input
      [id]="'input-signup-confirm-password'"
      [inputType]="'password'"
      [inputClass]="changeConfirmPasswordBorderColor()"
      (inputValueEmitter)="getConfirmPasswordValue($event)"></app-input>

    <div>
      <app-input-validation
        (emitValidationResult)="getConfirmPasswordValidation($event)"
        [inputValue]="signupData().confirmPassword"
        [validationType]="'passwordConfirmation'"
        [inputValueToCompare]="signupData().password"
        [validationText]="'As 2 senhas devem ser iguais'"></app-input-validation>
    </div>
  </div>
  <div>
    <app-button-label
      (click)="createNewUser()"
      [isDisabled]="!allValidationsOk()"
      [label]="'Criar'"></app-button-label>
  </div>
  <p class="text-center text-sm">
    Já possui cadastro?
    <span
      (click)="redirectToLoginPage()"
      aria-hidden="true"
      class="font-semibold leading-6 cursor-pointer">
      Clique aqui!</span
    >
  </p>
</div>
<app-loading></app-loading>
<app-modal-info
  [showModal]="isModalActive"
  [type]="modalInfo.type"
  [description]="modalInfo.description"
  (closeModalEmitter)="closeModal($event)"></app-modal-info>
