<div
  class="min-h-screen flex flex-col gap-2 justify-center px-4 pb-4 sm:mx-auto max-[450px]:mt-2 max-[450px]:mb-2 sm:w-full sm:max-w-sm">
  <!--Título-->
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <p class="text-center text-3xl font-bold">Cadastre-se!</p>
  </div>
  <!--Nome-->
  <div class="flex flex-col gap-2">
    <label for="name" class="block text-sm font-medium leading-6">Nome</label>
    <app-input
      [id]="'input-signup-name'"
      [inputName]="'custom'"
      [iconName]="'perm_identity'"
      (inputValueEmitter)="authStore.onSetAuthProperty('name', $event)"
      (focusEmitter)="authStore.onSetErrorProperty('name', true)"
      [borderType]="authStore.helpAndBorderColor('name')()"
      [placeholder]="'Fulano da Silva'" />
    <div>
      <app-help
        [isHelpTextActive]="authStore.user().name.length > 0"
        [text]="'Nome deve ter no mínimo 3 caracteres'"
        [type]="authStore.helpAndBorderColor('name')()" />
    </div>
  </div>
  <!--E-mail-->
  <div class="flex flex-col gap-2">
    <label for="email" class="block text-sm font-medium leading-6">E-mail</label>
    <app-input
      [id]="'input-signup-email'"
      [inputName]="'email'"
      (inputValueEmitter)="authStore.onSetAuthProperty('email', $event)"
      (focusEmitter)="authStore.onSetErrorProperty('email', true)"
      [borderType]="authStore.helpAndBorderColor('email')()" />
    <div>
      <app-help
        [isHelpTextActive]="authStore.user().email.length > 0"
        [text]="'Email válido!'"
        [type]="authStore.helpAndBorderColor('email')()" />
    </div>
  </div>
  <!--Senha-->
  <div class="flex flex-col gap-2">
    <label for="password" class="block text-sm font-medium leading-6">Senha</label>
    <app-input
      [id]="'input-signup-password'"
      [inputName]="'password'"
      [borderType]="authStore.helpAndBorderColor('password')()"
      (focusEmitter)="authStore.onSetErrorProperty('password', true)"
      (inputValueEmitter)="authStore.onSetAuthProperty('password', $event)" />
    <div>
      <app-help
        [isHelpTextActive]="authStore.user().password.length > 0"
        [text]="'A senha deve ter no mínimo 6 caracteres!'"
        [type]="authStore.passwordHelpColor('isPasswordLetterQtyOk')()" />
      <app-help
        [isHelpTextActive]="authStore.user().password.length > 0"
        [text]="'A senha deve ter no mínimo 1 letra maiúscula!'"
        [type]="authStore.passwordHelpColor('isPasswordUpperCaseLetterOk')()" />
      <app-help
        [isHelpTextActive]="authStore.user().password.length > 0"
        [text]="'A senha deve ter no mínimo 1 número!'"
        [type]="authStore.passwordHelpColor('isPasswordNumberOk')()" />
      <app-help
        [isHelpTextActive]="authStore.user().password.length > 0"
        [text]="'A senha deve ter no mínimo 1 caractere especial!'"
        [type]="authStore.passwordHelpColor('isPasswordSymbolOk')()" />
    </div>
  </div>
  <!--Confirmar Senha-->
  <div class="flex flex-col gap-2">
    <label for="password" class="block text-sm font-medium leading-6">Confirmar senha</label>
    <app-input
      [id]="'input-signup-confirm-password'"
      [inputName]="'password'"
      [borderType]="authStore.helpAndBorderColor('confirmPassword')()"
      (focusEmitter)="authStore.onSetErrorProperty('confirmPassword', true)"
      (inputValueEmitter)="authStore.onSetAuthProperty('confirmPassword', $event)" />
    <app-help
      [isHelpTextActive]="authStore.user().confirmPassword.length > 0"
      [text]="'As 2 senhas devem ser iguais'"
      [type]="authStore.helpAndBorderColor('confirmPassword')()" />
  </div>
  <div>
    <app-button-label
      (click)="createNewUser()"
      [isDisabled]="!authStore.isFormOk()"
      [label]="'Criar'" />
  </div>
  <p class="text-center text-sm">
    Já possui cadastro?
    <span
      (click)="onRedirectToLoginPage()"
      aria-hidden="true"
      class="font-semibold leading-6 cursor-pointer">
      Clique aqui!</span
    >
  </p>
</div>
