<app-table-base>
  <tr thead-row class="h-full py-2 border-b-[2px] border-solid border-gray-300">
    <th class="table-td flex items-center justify-center gap-6">
      <input
        type="checkbox"
        (change)="companyStore.onHeaderCheckboxChecked(companyStore.tableCheckbox().header)"
        [(ngModel)]="companyStore.tableCheckbox().header" />
      <mat-icon content class="text-sm text-logo hover:bg-gray-200 hover:rounded-md cursor-pointer"
        >refresh</mat-icon
      >
    </th>
    @for (header of companyStore.tableHeaders(); track $index) {
      @if (header.isHeaderActive) {
        <th class="table-td">
          <div class="flex items-center gap-2">
            <p>{{ header.headerName }}</p>
            <mat-icon
              (click)="companyStore.onSortTableHeader($index)"
              class="text-logo hover:bg-gray-200 hover:rounded-md text-sm font-bold cursor-pointer"
              >{{ header.icon }}</mat-icon
            >
            @if (header.sort != 0) {
              <app-button-close (click)="companyStore.onClearData()" />
            }
          </div>
        </th>
      }
    }
  </tr>
  <tbody tbody-row>
    @for (
      companyData of companyStore
        .companiesData()
        .slice(computedFirstRegister(), computedLastRegister());
      track $index
    ) {
      <tr
        (click)="companyStore.onRedirectToEditPage(companyData)"
        class="h-full py-2 border-b-[2px] border-solid last:border-gray-300 hover:bg-gray-200 cursor-pointer">
        @if (companyStore.tableHeaders()[0].isHeaderActive) {
          <td class="table-td flex items-center justify-center gap-4">
            <input
              type="checkbox"
              name="table-checkbox"
              (change)="companyStore.onBodyCheckboxChange($index, $event)"
              [(ngModel)]="companyStore.tableCheckbox().body[$index]" />
            <mat-icon
              aria-label="more options"
              class="border border-gray-800 rounded-full hover:text-white hover:bg-logo text-center text-sm cursor-pointer p-1 font-semibold"
              >more_horiz</mat-icon
            >
          </td>
        }
        @if (companyStore.tableHeaders()[0].isHeaderActive) {
          <td class="table-td">
            {{ companyData.idCompany }}
          </td>
        }
        @if (companyStore.tableHeaders()[1].isHeaderActive) {
          <td class="table-td">{{ companyData.nickname }}</td>
        }
        @if (companyStore.tableHeaders()[2].isHeaderActive) {
          <td class="table-td">{{ companyData.name }}</td>
        }
        @if (companyStore.tableHeaders()[3].isHeaderActive) {
          <td class="table-td">
            {{ companyData.cnpj || '' | mask: setMask('cnpj', $index) }}
          </td>
        }
        @if (companyStore.tableHeaders()[4].isHeaderActive) {
          <td class="table-td">{{ companyData.ie }}</td>
        }
        @if (companyStore.tableHeaders()[5].isHeaderActive) {
          <td class="table-td">{{ companyData.im }}</td>
        }
      </tr>
    }
  </tbody>
</app-table-base>
