<div class="flex flex-col align-middle text-white gap-4">
  <section class="text-lg font-semibold mt-2 border border-gray-500 p-1 rounded text-center">
    <p>Cadastro de Empresas</p>
  </section>
  <app-tab [arrayTabsTitle]="company().arrayTab" (selectedTabEmitter)="company().tabIndex = $event">
    <div class="flex items-center gap-10 mb-4">
      <app-input-addons
        class="flex-1"
        [optionList]="company().arraySelectFilter"
        [placeholder]="company().placeholderFilter"
        (inputValueEmitter)="company().inputValueFilter = $event"
        (selectValueEmitter)="changeSelectPlaceHolder(company, $event)"></app-input-addons>
      <div class="flex gap-3">
        <app-table-header-box [tableHeaders]="company().tableHeaderSelected"></app-table-header-box>
        <app-button
          [showIcon]="true"
          [btnIcon]="'add'"
          [label]="'Cadastrar'"
          (click)="showModalNewForm()"></app-button>
      </div>
    </div>
    <app-table>
      <tr thead-row>
        @for (header of company().tableHeaderSelected; track $index) {
          @if (header.showHeader) {
            <th class="table-td">
              {{ header.name }}
            </th>
          }
        }
      </tr>
      @for (dataSelected of company().tableDataSelected; track $index) {
        <tr tbody-row>
          @if (isTypeValid(dataSelected, 'company')) {
            @if (company().companyTableHeaders[0].showHeader) {
              <td class="table-td">
                {{ dataSelected.idCompany }}
              </td>
            }
            @if (company().companyTableHeaders[1].showHeader) {
              <td class="table-td">
                {{ dataSelected.date | date: 'dd/MM/YYYY' }}
              </td>
            }
            @if (company().companyTableHeaders[2].showHeader) {
              <td class="table-td">{{ dataSelected.nickname }}</td>
            }
            @if (company().companyTableHeaders[3].showHeader) {
              <td class="table-td">{{ dataSelected.name }}</td>
            }
            @if (company().companyTableHeaders[4].showHeader) {
              <td class="table-td">{{ dataSelected.cnpj }}</td>
            }
            @if (company().companyTableHeaders[5].showHeader) {
              <td class="table-td flex justify-center gap-3">
                <app-button
                  (click)="showModalEditForm(company().tableDataSelected[$index], dataSelected)"
                  [showLabel]="false"
                  [showIcon]="true"
                  [btnType]="'warning'"></app-button>
                <app-button
                  (click)="showModalAskToDeleteCompany(dataSelected)"
                  [showLabel]="false"
                  [showIcon]="true"
                  [btnType]="'danger'"></app-button>
              </td>
            }
          }
        </tr>
      }
    </app-table>
    <app-tab
      [arrayTabsTitle]="companyItem().arrayTab"
      [divClass]="'mt-5'"
      (selectedTabEmitter)="companyItem().tabIndex = $event">
      <div class="flex items-center justify-between gap-10 mb-4">
        <app-input-addons
          class="flex-1"
          [optionList]="companyItem().arraySelectFilter"
          [placeholder]="companyItem().placeholderFilter"
          (inputValueEmitter)="companyItem().inputValueFilter = $event"
          (selectValueEmitter)="changeSelectPlaceHolder(companyItem, $event)"></app-input-addons>
        <div class="flex gap-3">
          <app-table-header-box (click)="companyItem().isHeaderBoxActive"></app-table-header-box>
          <app-button [showIcon]="true" [btnIcon]="'add'" [label]="'Cadastrar'"></app-button>
        </div>
      </div>
      <app-table>
        <tr thead-row>
          @for (header of companyItem().tableHeaderSelected; track $index) {
            @if (header.showHeader) {
              <th class="table-td">
                {{ header.name }}
              </th>
            }
          }
        </tr>
        @for (dataSelected of companyItem().tableDataSelected; track $index) {
          <tr tbody-row>
            @if (isTypeValid(dataSelected, 'address')) {
              @if (companyItem().tableHeaderSelected[0].showHeader) {
                <td class="table-td">
                  {{ dataSelected.idAddress }}
                </td>
              }
              @if (companyItem().tableHeaderSelected[1].showHeader) {
                <td class="table-td">
                  {{ dataSelected.type }}
                </td>
              }
              @if (companyItem().tableHeaderSelected[2].showHeader) {
                <td class="table-td">{{ dataSelected.adress }}</td>
              }
              @if (companyItem().tableHeaderSelected[3].showHeader) {
                <td class="table-td">{{ dataSelected.number }}</td>
              }
              @if (companyItem().tableHeaderSelected[4].showHeader) {
                <td class="table-td">{{ dataSelected.complement }}</td>
              }
              @if (companyItem().tableHeaderSelected[4].showHeader) {
                <td class="table-td">{{ dataSelected.district }}</td>
              }
              @if (companyItem().tableHeaderSelected[4].showHeader) {
                <td class="table-td">{{ dataSelected.city }}</td>
              }
              @if (companyItem().tableHeaderSelected[4].showHeader) {
                <td class="table-td">{{ dataSelected.state }}</td>
              }
              @if (companyItem().tableHeaderSelected[5].showHeader) {
                <td class="table-td flex justify-center gap-3">
                  <app-button
                    (click)="showModalEditForm(company().tableDataSelected[$index], dataSelected)"
                    [showLabel]="false"
                    [showIcon]="true"
                    [btnType]="'warning'"></app-button>
                  <app-button
                    (click)="showModalAskToDeleteCompany(dataSelected)"
                    [showLabel]="false"
                    [showIcon]="true"
                    [btnType]="'danger'"></app-button>
                </td>
              }
            }
          </tr>
        }
      </app-table>
    </app-tab>
  </app-tab>
</div>

<app-modal-base
  [showModal]="isModalFormActive()"
  [isModalForm]="true"
  [title]="isEditForm() ? 'Alterar dados da empresa' : 'Cadastro de nova empresa'"
  (emitCloseModal)="isModalFormActive.set(false)">
  <div class="body-block">
    <div class="md:grid md:grid-cols-2 gap-4">
      <div class="gap-4">
        <!-- @if (isTypeValid(company().tableItemSelected, 'company')) { -->
        @if (isCompanySelected && companyId != null) {
          <div class="gap-2">
            <label class="font-semibold text-sm" for="">Id</label>
            <app-input-form
              [isDisabled]="true"
              [showRightIcon]="false"
              (emitInputValue)="company().tableItemSelected.idCompany = $event"
              [inputClass]="'text-black h-9'"></app-input-form>
          </div>
        }
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">Nickname</label>
          <app-input-form
            #inputModal
            [showRightIcon]="false"
            (emitInputValue)="company().tableItemSelected.nickname = $event"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">Nome</label>
          <app-input-form
            #inputModal
            [showRightIcon]="false"
            (emitInputValue)="company().tableItemSelected.name = $event"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">CNPJ/CPF</label>
          <app-input-form
            #inputModal
            [maskType]="'cnpj'"
            [showRightIcon]="false"
            (emitInputValue)="company().tableItemSelected.cnpj = $event"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <!-- } -->
      </div>
    </div>
  </div>
  <div
    class="footer-block grid gap-3 mt-5"
    [ngClass]="isEditForm() ? 'grid-cols-2' : 'grid-cols-3'">
    <app-button [btnType]="'cancel'" (click)="isModalFormActive.set(false)"></app-button>
    @if (!isEditForm()) {
      <app-button [btnType]="'clear'" (click)="clearForm()"></app-button>
    }
    <app-button [btnType]="'forward'" (click)="onModalFormBtnOk()"></app-button>
  </div>
</app-modal-base>

<app-modal-ask
  [showModal]="isModalAskActive()"
  [description]="baseModalData().description"
  [type]="baseModalData().type"
  (closeEmitter)="onModalAskBtnNoClick()"
  (actionOkEmitter)="onModalAskBtnYesClick($event)"></app-modal-ask>
<app-modal-check
  [isModalCheckActive]="isModalCheckActive()"
  [tableDataSelected]="company().tableItemSelected"
  [isEditForm]="isEditForm()"
  (closeEventEmitter)="isModalCheckActive.set(false)"></app-modal-check>
<app-modal-info
  [showModal]="baseIsModalInfoActive()"
  [description]="baseModalData().description"
  [type]="baseModalData().type"
  (closeModalEmitter)="baseIsModalInfoActive.set(false)"></app-modal-info>
<app-loading [showLoading]="baseShowLoading()"></app-loading>
