<div class="flex flex-col gap-5">
  <app-breadcrumb [items]="['Cadastro', 'Empresas']" />
  @if (companyStore.companiesData().length > 0) {
    <div class="flex flex-col gap-5 flex-grow">
      <div class="top-button-layout gap-3 overflow-x-auto">
        <div class="flex gap-3">
          <app-input
            [inputValue]="companyStore.inputSearchValue()"
            [id]="'input-filter'"
            [placeholder]="'Id, Nome Fantasia, Razão Social'"
            [inputName]="'search'"
            (clickEmitter)="companyStore.onTableFilterBasedOnSearchInput()"
            (keyboardEmitter)="companyStore.onKeyPressOnSearchInput($event)"
            (inputValueEmitter)="companyStore.onSetInputSearchValue($event)" />
          <app-tooltip [description]="'Filtro'" [position]="'right'">
            <app-button-icon
              content
              (click)="companyStore.onShowFilterBox(true)"
              [iconName]="'filter_list'" />
          </app-tooltip>
        </div>
        <div class="flex gap-3">
          <app-button-icon
            (click)="modalStore.onRedirectPage('/companies/new')"
            [iconName]="'add'" />
          <app-button-delete
            (click)="onShowModalToDelete()"
            [isDisabled]="companyStore.isDelBtnDisabled()" />
          <app-tooltip [position]="'left'" [description]="'Colunas visíveis'">
            <app-button-icon
              content
              [iconName]="'view_column'"
              (click)="companyStore.onShowTableHeaderBox(true)" />
          </app-tooltip>
        </div>
      </div>
      @if (companyStore.isAtLeastOneFilterHelpNotEmpty()) {
        <div class="flex flex-wrap items-center gap-3 text-sm">
          @if (companyStore.filterHelp().inputSearch.length > 0) {
            <div class="flex items-center gap-2">
              <p>Pesquisa: {{ companyStore.filterHelp().inputSearch }}</p>
              <app-button-close
                (click)="
                  companyStore.onClearFilterItem('inputSearch', 'input-search')
                "></app-button-close>
            </div>
          }
          @if (companyStore.filterHelp().idCompany.length > 0) {
            <div class="flex items-center gap-2">
              <p>Id: {{ companyStore.filterHelp().idCompany }}</p>
              <app-button-close
                (click)="
                  companyStore.onClearFilterItem('idCompany', 'filter-box')
                "></app-button-close>
            </div>
          }
          @if (companyStore.filterHelp().nickname.length > 0) {
            <div class="flex items-center gap-2">
              <p>Nome Fantasia: {{ companyStore.filterHelp().nickname }}</p>
              <app-button-close
                (click)="
                  companyStore.onClearFilterItem('nickname', 'filter-box')
                "></app-button-close>
            </div>
          }
          @if (companyStore.filterHelp().name.length > 0) {
            <div class="flex items-center gap-2">
              <p>Raz.Social: {{ companyStore.filterHelp().name }}</p>
              <app-button-close
                (click)="companyStore.onClearFilterItem('name', 'filter-box')"></app-button-close>
            </div>
          }
          @if (companyStore.filterHelp().cnpj.length > 0) {
            <div class="flex items-center gap-2">
              <p>CNPJ: {{ companyStore.filterHelp().cnpj }}</p>
              <app-button-close
                (click)="companyStore.onClearFilterItem('cnpj', 'filter-box')"></app-button-close>
            </div>
          }
          @if (companyStore.filterHelp().ie) {
            <div class="flex items-center gap-2">
              <p>Inscr.Estadual: {{ companyStore.filterHelp().ie }}</p>
              <app-button-close
                (click)="companyStore.onClearFilterItem('ie', 'filter-box')"></app-button-close>
            </div>
          }
          @if (companyStore.filterHelp().im) {
            <div class="flex items-center gap-2">
              <p>Inscr.Municipal: {{ companyStore.filterHelp().im }}</p>
              <app-button-close
                (click)="companyStore.onClearFilterItem('im', 'filter-box')"></app-button-close>
            </div>
          }
          <button
            (click)="companyStore.onClearData()"
            class="text-logo font-semibold cursor-pointer hover:text-logo-hover hover:underline">
            Limpar tudo
          </button>
        </div>
      }
      <app-table-company />
      <app-pagination
        [currentPage]="companyStore.pagination().currentPage"
        [totalRegister]="companyStore.companiesData().length"
        [pagesArray]="companyStore.pagination().pagesArray"
        [qtyPerPage]="companyStore.pagination().qtyPerPage"
        [totalPages]="companyStore.pagination().totalPages"
        (currentPageEmitter)="companyStore.onSetNewCurrentPagePagination($event)" />
    </div>
  } @else {
    <div class="flex flex-col items-center gap-4 w-full mt-10">
      <mat-icon class="text-logo text-6xl">{{
        companyStore.isFilterResultZeroRegister() ? 'search_off' : 'library_add'
      }}</mat-icon>
      <p class="font-semibold">Nenhum registro encontrado</p>
      @if (!companyStore.isFilterResultZeroRegister()) {
        <app-button-label
          (click)="modalStore.onRedirectPage('/companies/new')"
          [showIcon]="true"
          [iconName]="'add'"
          [label]="'Adicionar uma nova empresa'" />
      } @else {
        @if (companyStore.inputSearchValue().length > 0) {
          <p>
            Palavra(s) Pesquisada(s) :
            <span class="font-semibold">{{ companyStore.inputSearchValue() }}</span>
          </p>
        } @else {
          <p>Campo(s) pesquisado(s) :</p>
          @if (companyStore.filterBox().idCompany.length > 0) {
            <p>
              Id : <span class="font-semibold">{{ companyStore.filterBox().idCompany }}</span>
            </p>
          }
          @if (companyStore.filterBox().nickname.length > 0) {
            <p>
              Nome Fantasia :
              <span class="font-semibold">{{ companyStore.filterBox().nickname }}</span>
            </p>
          }
          @if (companyStore.filterBox().name.length > 0) {
            <p>
              Nome : <span class="font-semibold">{{ companyStore.filterBox().name }}</span>
            </p>
          }
          @if (companyStore.filterBox().cnpj.length > 0) {
            <p>
              CNPJ / CPF : <span class="font-semibold">{{ companyStore.filterBox().cnpj }}</span>
            </p>
          }
          @if (companyStore.filterBox().ie.length > 0) {
            <p>
              Inscrição Estadual :
              <span class="font-semibold">{{ companyStore.filterBox().ie }}</span>
            </p>
          }
          @if (companyStore.filterBox().im.length > 0) {
            <p>
              Inscrição Municipal :
              <span class="font-semibold">{{ companyStore.filterBox().im }}</span>
            </p>
          }
        }
        <app-button-label
          (keyboardEmitter)="companyStore.onKeyPressOnNotFoundFilterRegister($event)"
          (click)="companyStore.onClearData()"
          [label]="'Voltar'" />
      }
    </div>
  }
</div>

<app-side-bar
  [isSideBarActive]="companyStore.isFilterBoxActive()"
  [isTwoThirdWidth]="false"
  [titleIconName]="'filter_list'"
  [title]="'Filtro'"
  [btnLabel]="'Aplicar'"
  [isPrimaryBtnDisabled]="!companyStore.isAtLeastOneFilterBoxNotEmpty()"
  (primaryBtnClickEmitter)="companyStore.onFilterThroughFilterBox()"
  (isCloseBtnClickEmitter)="companyStore.onShowFilterBox(false)">
  <div body class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <p class="font-medium">Id</p>
      <app-input
        [id]="'filter-company-id'"
        [inputName]="'custom'"
        [inputValue]="companyStore.filterBox().idCompany"
        [type]="'search'"
        (inputValueEmitter)="companyStore.onInputValueChange('idCompany', $event)"
        (keyboardEmitter)="companyStore.onKeyPressOnFilterBox($event)" />
    </div>
    <div class="flex flex-col gap-2">
      <p class="font-medium">Nome Fantasia</p>
      <app-input
        [id]="'filter-company-nickname'"
        [inputName]="'custom'"
        [inputValue]="companyStore.filterBox().nickname"
        [type]="'search'"
        (inputValueEmitter)="companyStore.onInputValueChange('nickname', $event)"
        (keyboardEmitter)="companyStore.onKeyPressOnFilterBox($event)" />
    </div>
    <div class="flex flex-col gap-2">
      <p class="font-medium">Razão Social</p>
      <app-input
        [id]="'filter-company-name'"
        [inputName]="'custom'"
        [inputValue]="companyStore.filterBox().name"
        [type]="'search'"
        (inputValueEmitter)="companyStore.onInputValueChange('name', $event)"
        (keyboardEmitter)="companyStore.onKeyPressOnFilterBox($event)" />
    </div>
    <div class="flex flex-col gap-2">
      <p class="font-medium">CNPJ ou CPF</p>
      <app-input
        [id]="'filter-company-cnpj'"
        [inputName]="'cnpj'"
        [inputValue]="companyStore.filterBox().cnpj"
        (inputValueEmitter)="companyStore.onInputValueChange('cnpj', $event)"
        (keyboardEmitter)="companyStore.onKeyPressOnFilterBox($event)" />
    </div>
    <div class="flex flex-col gap-2">
      <p class="font-medium">Inscrição Estadual</p>
      <app-input
        [id]="'filter-company-ie'"
        [inputName]="'custom'"
        [inputValue]="companyStore.filterBox().ie"
        [type]="'search'"
        (inputValueEmitter)="companyStore.onInputValueChange('ie', $event)"
        (keyboardEmitter)="companyStore.onKeyPressOnFilterBox($event)" />
    </div>
    <div class="flex flex-col gap-2">
      <p class="font-medium">Inscrição Municipal</p>
      <app-input
        [id]="'filter-company-em'"
        [inputName]="'custom'"
        [inputValue]="companyStore.filterBox().im"
        [type]="'search'"
        (inputValueEmitter)="companyStore.onInputValueChange('im', $event)"
        (keyboardEmitter)="companyStore.onKeyPressOnFilterBox($event)" />
    </div>
  </div>
</app-side-bar>

<app-side-bar
  [isSideBarActive]="companyStore.isTableHeaderBoxActive()"
  [isTwoThirdWidth]="false"
  [isFooterActive]="false"
  [title]="'Colunas Visíveis'"
  (isCloseBtnClickEmitter)="companyStore.onShowTableHeaderBox(false)">
  <div body class="flex flex-col gap-6">
    <p>Selecione abaixo as colunas que deseja estarem visíveis na tabela</p>
    <div class="flex flex-col gap-2">
      @for (header of companyStore.tableHeaders(); track $index) {
        @if (!$first) {
          <div class="flex gap-4">
            <app-toogle-button
              [isChecked]="header.isHeaderActive"
              [toggleId]="$index"
              (isCheckedEmitter)="companyStore.onShowHeader($index)" />
            <p>{{ header.headerName }}</p>
          </div>
        }
      }
    </div>
  </div>
</app-side-bar>
