<div class="relative">
  <div
    [ngClass]="[borderClass, showInputBox ? 'rounded-t-md border-t border-x' : 'rounded-md border']"
    class="flex w-full h-full focus-within:shadow-md transition-all duration-100 ease-in-out">
    <input
      [id]="id"
      [type]="type"
      [disabled]="isDisabled"
      [placeholder]="placeholder"
      [mask]="maskValue"
      [ngModel]="inputValue"
      [min]="min"
      autocomplete="off"
      (input)="onInputValueChange($event)"
      [ngClass]="inputClass"
      (keydown)="onKeydown($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      class="flex-1 bg-transparent w-full focus:outline-none pl-3 pr-1 py-1 disabled:bg-gray-100 disabled:text-gray-600 disabled:border-1 disabled:rounded-md placeholder:text-sm" />
    @if (iconName && iconName.length > 0) {
      <button (click)="onClick($event)" [tabIndex]="tabIndex" class="inline-flex items-center mr-1">
        <mat-icon class="text-logo font-semibold">{{ iconName }}</mat-icon>
      </button>
    }
  </div>
  @if (showInputBox) {
    <div
      #inputBox
      class="absolute w-full z-[200] top-[2rem] left-0 flex flex-col gap-1 border rounded-b border-gray-500 bg-white p-2">
      @for (item of inputListFiltered; track $index) {
        <p
          tabindex="0"
          (mouseenter)="onMouseOver($index)"
          (keydown)="onInputBoxItemClick($event, $index)"
          (click)="onInputBoxItemClick($event, $index)"
          [ngClass]="idx == $index ? 'bg-logo text-white' : ''"
          class="px-2 rounded-sm cursor-pointer">
          {{ item }}
        </p>
      } @empty {
        <p class="italic">Não existem items a serem exibidos</p>
      }
    </div>
  }
</div>
