<div
  [ngClass]="divClass"
  class="flex w-full border rounded-md focus-within:shadow-md focus-within:border-[1.6px] transition-all duration-100 ease-in-out">
  <input
    [id]="id"
    [type]="type"
    [disabled]="isDisabled"
    [placeholder]="placeholder"
    [mask]="maskValue"
    [ngModel]="inputValue"
    (input)="onInputValue($event)"
    [ngClass]="inputClass"
    (keydown)="onKeydown($event)"
    (change)="onChange($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    class="flex-1 bg-transparent focus:outline-none pl-3 pr-1 py-1 disabled:bg-gray-100 placeholder:text-sm" />
  @if (iconName && iconName.length > 0) {
    <button (click)="onClick($event)" [tabIndex]="tabIndex" class="inline-flex items-center mr-1">
      <mat-icon class="text-logo font-semibold">{{ iconName }}</mat-icon>
    </button>
  }
</div>
