<div class="flex flex-col gap-5 p-4">
  <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
  <div class="flex flex-col gap-2 text-white">
    <div class="flex gap-4">
      <div class="flex flex-col gap-1 md:flex-grow-0">
        <label class="font-semibold text-sm" for="">Id</label>
        <app-input-standard
          [propsInput]="company.idCompany"
          [showRightIcon]="false"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1 md:flex-grow">
        <label class="font-semibold text-sm" for="">Apelido</label>
        <app-input-standard
          [propsInput]="company.name"
          [showRightIcon]="false"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1 md:flex-grow">
        <label class="font-semibold text-sm" for="">CNPJ/CPF</label>
        <app-input-standard
          [propsInput]="company.cnpj || ''"
          [maskType]="'cnpj'"
          [showRightIcon]="false"></app-input-standard>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex flex-col gap-1 md:flex-grow">
        <label class="font-semibold text-sm" for="">Nome</label>
        <app-input-standard
          [propsInput]="company.name"
          [showRightIcon]="false"></app-input-standard>
      </div>
      <div class="flex gap-4">
        <div class="flex flex-col gap-1 md:flex-grow-0">
          <label class="font-semibold text-sm" for="">Inscrição Estadual</label>
          <app-input-standard
            [propsInput]="company.ie || ''"
            [showRightIcon]="false"></app-input-standard>
        </div>
        <div class="flex flex-col gap-1 md:flex-grow-0">
          <label class="font-semibold text-sm" for="">Inscrição Municipal</label>
          <app-input-standard
            [propsInput]="company.im || ''"
            [showRightIcon]="false"></app-input-standard>
        </div>
      </div>
    </div>
  </div>
  <div class="h-0 opacity-0 transition-all duration-300" id="table-company-item">
    <app-tab
      [tabList]="companyItem().tabList"
      (selectedTabEmitter)="onChangeCompanyItemIdx($event, 'company-item-table-row')">
      <div class="grid gap-5 md:flex md:items-center md:justify-between md:gap-10 mb-5">
        <app-input-addons
          [selectValueFilter]="companyItem().selectValueFilter"
          [optionList]="companyItem().arraySelectFilter"
          [placeholder]="companyItem().placeholderFilter"
          (inputValueEmitter)="companyItem().inputValueFilter = $event"
          (selectValueEmitter)="changeSelectPlaceHolder(companyItem, $event)"></app-input-addons>
        <div class="grid md:flex gap-5">
          <app-table-header-box
            [tableHeaders]="companyItem().tableHeaderSelected"></app-table-header-box>
          <app-button
            (click)="showModalCompanyItem(companyItem().tabIdx)"
            [showIcon]="true"
            [btnIcon]="'add'"
            [label]="'Cadastrar'"></app-button>
        </div>
      </div>

      <app-table-base>
        <tr thead-row>
          @for (header of companyItem().tableHeaderSelected; track $index) {
            @if (header.showHeader) {
              <th class="table-td">
                {{ header.name }}
              </th>
            }
          }
        </tr>
        <tbody tbody-row class="divide-y divide-gray-500 border border-gray-500">
          @if (companyItem().tabIdx == 0) {
            @for (addressData of companyItem().addressesData; track addressData.idAddress) {
              <tr class="hover:bg-gray-700">
                @if (companyItem().tableHeaderSelected[0].showHeader) {
                  <td class="table-td">
                    {{ addressData.idAddress }}
                  </td>
                }
                @if (companyItem().tableHeaderSelected[1].showHeader) {
                  <td class="table-td">
                    {{ addressData.nickname }}
                  </td>
                }
                @if (companyItem().tableHeaderSelected[2].showHeader) {
                  <td class="table-td">
                    {{ addressData.postalCode | mask: setMask('postalCode', $index) }}
                  </td>
                }
                @if (companyItem().tableHeaderSelected[3].showHeader) {
                  <td class="table-td">{{ addressData.address }}</td>
                }
                @if (companyItem().tableHeaderSelected[4].showHeader) {
                  <td class="table-td">{{ addressData.number }}</td>
                }
                @if (companyItem().tableHeaderSelected[5].showHeader) {
                  <td class="table-td">{{ addressData.complement }}</td>
                }
                @if (companyItem().tableHeaderSelected[6].showHeader) {
                  <td class="table-td">{{ addressData.district }}</td>
                }
                @if (companyItem().tableHeaderSelected[7].showHeader) {
                  <td class="table-td">{{ addressData.city }}</td>
                }
                @if (companyItem().tableHeaderSelected[8].showHeader) {
                  <td class="table-td">{{ addressData.state }}</td>
                }
                @if (companyItem().tableHeaderSelected[9].showHeader) {
                  <td class="table-td flex justify-center gap-3">
                    <app-button
                      (click)="onShowModalEditForm(addressData)"
                      [showLabel]="false"
                      [showIcon]="true"
                      [btnType]="'icon-edit'"></app-button>
                    <app-button
                      (click)="onShowModalAskToDelete('address', addressData)"
                      [showLabel]="false"
                      [showIcon]="true"
                      [btnType]="'icon-delete'"></app-button>
                  </td>
                }
              </tr>
            } @empty {
              <tr class="text-center italic text-white">
                <td [attr.colspan]="companyItem().tableHeaderSelected.length" class="p-2">
                  Não existem endereços a serem exibidos!
                </td>
              </tr>
            }
          } @else {
            @for (employeeData of companyItem().employeesData; track employeeData.idEmployee) {
              <tr class="hover:bg-gray-700">
                @if (companyItem().tableHeaderSelected[0].showHeader) {
                  <td class="table-td">
                    {{ employeeData.idEmployee }}
                  </td>
                }
                @if (companyItem().tableHeaderSelected[1].showHeader) {
                  <td class="table-td">
                    {{ employeeData.name }}
                  </td>
                }
                @if (companyItem().tableHeaderSelected[2].showHeader) {
                  <td class="table-td">{{ employeeData.cpf }}</td>
                }
                @if (companyItem().tableHeaderSelected[3].showHeader) {
                  <td class="table-td">{{ employeeData.department }}</td>
                }
                @if (companyItem().tableHeaderSelected[4].showHeader) {
                  <td class="table-td">{{ employeeData.position }}</td>
                }
                @if (companyItem().tableHeaderSelected[4].showHeader) {
                  <td class="table-td">{{ employeeData.email }}</td>
                }
                @if (companyItem().tableHeaderSelected[4].showHeader) {
                  <td class="table-td">{{ employeeData.deskphone }}</td>
                }
                @if (companyItem().tableHeaderSelected[4].showHeader) {
                  <td class="table-td">{{ employeeData.cellphone }}</td>
                }
                @if (companyItem().tableHeaderSelected[5].showHeader) {
                  <td class="table-td flex justify-center gap-3">
                    <app-button
                      (click)="onShowModalEditForm(employeeData)"
                      [showLabel]="false"
                      [showIcon]="true"
                      [btnType]="'icon-edit'"></app-button>
                    <app-button
                      (click)="onShowModalAskToDelete('employee', employeeData)"
                      [showLabel]="false"
                      [showIcon]="true"
                      [btnType]="'icon-delete'"></app-button>
                  </td>
                }
              </tr>
            } @empty {
              <tr class="text-center italic text-white">
                <td [attr.colspan]="companyItem().tableHeaderSelected.length" class="p-2">
                  Não existem funcionários a serem exibidos!
                </td>
              </tr>
            }
          }
        </tbody>
      </app-table-base>
    </app-tab>
  </div>
</div>

<app-modal-ask
  [showModal]="modalAskInfo().isActive"
  [description]="modalInfo().description"
  [type]="modalInfo().type"
  (closeEmitter)="modalAskInfo().isActive = false"
  (actionOkEmitter)="onActionOk()"></app-modal-ask>
<app-modal-info
  [showModal]="modalInfo().isActive"
  [description]="modalInfo().description"
  [type]="modalInfo().type"
  (closeModalEmitter)="onCloseModalInfo()"></app-modal-info>
<app-loading [showLoading]="showLoading()"></app-loading>
