<div class="flex flex-col gap-10">
  @if (isModalCompany) {
    <div class="flex gap-4 items-end">
      <div class="flex flex-col gap-2 md:flex-grow-0">
        <label class="font-semibold text-sm" for="">Id</label>
        <app-input-standard
          [propsInput]="company().companyData.idCompany"
          [showRightIcon]="false"></app-input-standard>
      </div>
      <div class="flex flex-col gap-2 md:flex-grow">
        <label class="font-semibold text-sm" for="">Apelido</label>
        <app-input-standard
          [propsInput]="company().companyData.nickname"
          [showRightIcon]="false"></app-input-standard>
      </div>
      <app-button
        [btnType]="isModalCompany ? 'submit-white' : 'submit'"
        [showIcon]="true"
        [btnIcon]="'add'"
        [label]="'Selecionar'"></app-button>
    </div>
  }
  <div class="flex flex-col gap-5">
    <div class="grid gap-5 md:flex items-center md:justify-between md:gap-10">
      <app-input-addons
        [isTextBlack]="isModalCompany ? true : false"
        [selectValueFilter]="company().selectValueFilter"
        [optionList]="company().arraySelectFilter"
        [placeholder]="company().placeholderFilter"
        (inputValueEmitter)="company().inputValueFilter = $event"
        (selectValueEmitter)="changeSelectPlaceHolder(company, $event)"
        (btnClickEmitter)="filterTable()"></app-input-addons>
      <div class="grid md:flex gap-5">
        <app-table-header-box
          [tableHeaders]="company().tableHeaderSelected"
          [isTextBlack]="true"></app-table-header-box>
        <app-button
          [btnType]="'submit-white'"
          [showIcon]="true"
          [btnIcon]="'add'"
          [label]="'Cadastrar'"
          (click)="company().modalFormCompany.isActive = true"></app-button>
      </div>
    </div>

    <app-table>
      <tr thead-row>
        @for (header of company().companyTableHeaders; track $index) {
          @if (header.showHeader) {
            <th class="table-td">
              {{ header.name }}
            </th>
          }
        }
      </tr>
      <tbody tbody-row class="divide-y divide-gray-500 border border-gray-500">
        @for (companyData of company().companiesData; track $index) {
          <tr
            [ngClass]="isModalCompany ? 'text-black' : 'text-white'"
            class="hover:bg-gray-700 h-full py-2 cursor-pointer company-table-row"
            (click)="selectedTableRow($index, 'company-table-row')">
            @if (company().companyTableHeaders[0].showHeader) {
              <td class="table-td">
                {{ companyData.idCompany }}
              </td>
            }
            @if (company().companyTableHeaders[1].showHeader) {
              <td class="table-td">{{ companyData.nickname }}</td>
            }
            @if (company().companyTableHeaders[2].showHeader) {
              <td class="table-td">{{ companyData.name }}</td>
            }
            @if (company().companyTableHeaders[3].showHeader) {
              <td class="table-td">
                {{ companyData.cnpj || '' | mask: setMask('cnpj', $index) }}
              </td>
            }
            @if (company().companyTableHeaders[4].showHeader) {
              <td class="table-td">{{ companyData.ie }}</td>
            }
            @if (company().companyTableHeaders[5].showHeader) {
              <td class="table-td">{{ companyData.im }}</td>
            }
            @if (company().companyTableHeaders[6].showHeader) {
              <td class="table-td flex justify-center gap-3">
                <app-button
                  (click)="onShowModalEditForm(companyData)"
                  [isDisabled]="arrayIsBtnDisabled()[$index]"
                  [showLabel]="false"
                  [showIcon]="true"
                  [btnType]="'icon-edit'"></app-button>
                <app-button
                  (click)="onShowModalAskToDelete('company', companyData)"
                  [isDisabled]="arrayIsBtnDisabled()[$index]"
                  [showLabel]="false"
                  [showIcon]="true"
                  [btnType]="'icon-delete'"></app-button>
              </td>
            }
          </tr>
        } @empty {
          <tr class="text-center italic text-white">
            <td [attr.colspan]="company().tableHeaderSelected.length" class="p-2">
              Não existem empresas a serem exibidas!
            </td>
          </tr>
        }
      </tbody>
    </app-table>
  </div>
</div>

<app-modal-base
  [showModal]="company().modalFormCompany.isActive"
  [isModalForm]="true"
  [title]="
    company().modalFormCompany.isEditForm ? 'Alterar dados da empresa' : 'Cadastro de nova empresa'
  "
  (emitCloseModal)="onCloseModalForm()">
  <div class="body-block">
    <div class="flex flex-col gap-2">
      @if (company().modalFormCompany.isEditForm) {
        <div class="flex flex-col gap-1">
          <label class="font-semibold text-sm" for="">Id</label>
          <app-input-standard
            [propsInput]="company().companyData.idCompany"
            [isDisabled]="true"
            [showRightIcon]="false"
            [inputClass]="'text-black h-9'"></app-input-standard>
        </div>
      }
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Apelido</label>
        <app-input-standard
          [propsInput]="company().companyData.nickname"
          [showRightIcon]="false"
          (emitInputValue)="company().companyData.nickname = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Nome</label>
        <app-input-standard
          [propsInput]="company().companyData.name"
          [showRightIcon]="false"
          (emitInputValue)="company().companyData.name = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">CNPJ/CPF</label>
        <app-input-standard
          [propsInput]="company().companyData.cnpj || ''"
          [maskType]="'cnpj'"
          [showRightIcon]="false"
          (emitInputValue)="company().companyData.cnpj = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Inscrição Estadual</label>
        <app-input-standard
          [propsInput]="company().companyData.ie || ''"
          [showRightIcon]="false"
          (emitInputValue)="company().companyData.ie = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Inscrição Municipal</label>
        <app-input-standard
          [propsInput]="company().companyData.im || ''"
          [showRightIcon]="false"
          (emitInputValue)="company().companyData.im = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
    </div>
  </div>
  <div class="grid footer-block md:flex md:justify-center gap-5 mt-6 w-full">
    <app-button [btnType]="'cancel'" (click)="onCloseModalForm()"></app-button>
    @if (!company().modalFormCompany.isEditForm) {
      <app-button [btnType]="'clear'" (click)="clearCompanyInfo()"></app-button>
      <app-button [btnType]="'success-save'" (click)="addNewCompany()"></app-button>
    } @else {
      <app-button [btnType]="'success-save'" (click)="updateCompany()"></app-button>
    }
  </div>
</app-modal-base>

<app-modal-ask
  [showModal]="modalAskInfo().isActive"
  [description]="modalInfo().description"
  [type]="modalInfo().type"
  (closeEmitter)="modalAskInfo().isActive = false"
  (actionOkEmitter)="onActionOk()"></app-modal-ask>
<app-modal-info
  [showModal]="modalInfo().isActive"
  [description]="modalInfo().description"
  [type]="modalInfo().type"
  (closeModalEmitter)="onCloseModalInfo()"></app-modal-info>
<app-loading [showLoading]="showLoading()"></app-loading>
