<textarea
  [name]="name"
  [id]="id"
  [disabled]="isDisabled"
  [placeholder]="placeholder"
  [ngModel]="inputValue"
  (input)="onInputValue($event)"
  [ngClass]="inputClass"
  (keydown)="onKeydown($event)"
  (change)="onChange($event)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"
  (click)="onClick($event)"
  class="bg-transparent w-full h-40 border border-gray-400 rounded-md focus:outline-none focus-within:shadow-md focus-within:border-[1.6px] transition-all duration-100 ease-in-out px-3 py-2 disabled:bg-gray-100 placeholder:text-sm resize-y"></textarea>
