<label [for]="toggleId" class="relative inline-flex items-center cursor-pointer">
  <input
    type="checkbox"
    [id]="toggleId"
    class="sr-only peer"
    (change)="onChecked($event)"
    [ngModel]="isChecked" />
  <div
    class="w-11 h-6 bg-gray-200 rounded-full peer-focus:outline-none dark:bg-gray-500 peer-checked:bg-logo"></div>
  <div
    class="absolute top-0.5 left-[2px] w-5 h-5 bg-white border-gray-300 border rounded-full transition-all dark:border-gray-600 peer-checked:translate-x-full peer-checked:border-white"></div>
</label>
