<div
  class="min-h-screen flex flex-col gap-3 justify-center px-4 py-4 sm:mx-auto max-[450px]:mt-2 max-[450px]:mb-2 sm:w-full sm:max-w-sm">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <p class="mt-5 text-center text-3xl font-bold leading-9 tracking-tight">
      Redefinição de senha!
    </p>
  </div>
  <div class="flex flex-col gap-1 mt-4">
    <label for="email" class="block mb-2 text-sm font-medium leading-6">E-mail</label>
    <div class="flex flex-col gap-2">
      <app-input
        [id]="'input-reset-password-email'"
        [inputName]="'email'"
        (inputValueEmitter)="authStore.onSetAuthProperty('email', $event)"
        (focusEmitter)="authStore.onSetErrorProperty('email', true)"
        [borderType]="authStore.helpAndBorderColor('email')()" />
      <app-help
        [isHelpTextActive]="authStore.user().email.length > 0"
        [text]="'Email válido!'"
        [type]="authStore.helpAndBorderColor('email')()" />
    </div>
  </div>
  <div class="mt-1">
    <app-button-label
      (click)="getEmailValidation()"
      [label]="'Enviar'"
      [isDisabled]="!authStore.isEmailOk()"></app-button-label>
  </div>
  <p class="text-center text-sm">
    Já possui cadastro?
    <span
      (click)="modalStore.onRedirectPage('/login')"
      aria-hidden="true"
      class="font-semibold leading-6 cursor-pointer">
      Clique aqui!</span
    >
  </p>
</div>
