<app-modal-base [showModal]="isModalActive" [showHeader]="false">
  <div class="body-block">
    <div class="mx-auto flex items-center justify-center" [ngClass]="divIconClass">
      <mat-icon [ngClass]="iconClass">{{ iconName }}</mat-icon>
    </div>
    <div class="bg-white my-5 text-center">
      <h5 class="text-base font-semibold leading-6 text-gray-900 w-full">
        {{ title }}
      </h5>
      <div class="mt-2">
        <p class="text-sm text-gray-500 w-full">
          {{ description }}
        </p>
      </div>
    </div>
  </div>
  <div class="footer-block flex gap-5 justify-center items-stretch">
    <app-button-label
      [label]="'Não'"
      [isColorLogo]="false"
      [iconName]="'close'"
      (click)="OnActionNok()"></app-button-label>
    <app-button-label [label]="'Sim'" [iconName]="'save'" (click)="OnActionOk()"></app-button-label>
  </div>
</app-modal-base>
