<div class="grid gap-4 md:gap-0 md:flex text-white text-sm" [ngClass]="divClass">
  <select
    [ngModel]="selectValue"
    (change)="outputSelectValue($event)"
    name="select"
    id="select"
    class="bg-transparent w-full md:w-36 focus:outline-0 py-1.5 pl-3 pr-1 md:rounded-l-lg border disabled:bg-gray-100 border-gray-500 cursor-pointer">
    @for (option of optionList; track $index) {
      <option class="text-black px-3" [value]="option">
        {{ option }}
      </option>
    }
  </select>
  <input
    [placeholder]="placeholder"
    [ngModel]="inputValue"
    (input)="sendInputValue($event)"
    class="bg-transparent focus:outline-0 w-full md:flex-grow-2 py-2 px-3 border md:border-x-0 disabled:bg-gray-100 border-gray-500" />
  <button
    (click)="click()"
    class="border border-gray-500 bg-logo-blue hover:bg-logo-blue-hover box-border py-1.5 px-4 rounded-l-lg md:rounded-l-none rounded-r-lg">
    {{ btnLabel }}
  </button>
</div>
