<div class="relative grid gap-4 h-full md:gap-0 md:flex text-sm">
  <select
    [ngModel]="selectValue"
    (change)="outputSelectValue($event)"
    name="select"
    id="select"
    class="bg-transparent py-2 w-full md:w-36 pl-3 pr-1 md:rounded-tl-md border border-r-0 disabled:bg-gray-100 cursor-pointer"
    [ngClass]="inputValue.length > 1 ? 'md:rounded-bl-none' : 'md:rounded-bl-md'">
    @for (option of optionList; track $index) {
      @if ($index != 0) {
        <option class="text-black px-3" [value]="option.value">
          {{ option.name }}
        </option>
      }
    }
  </select>
  <input
    type="search"
    [placeholder]="placeholder"
    [ngModel]="inputValue"
    (input)="sendInputValue($event)"
    class="bg-transparent focus:outline-0 md:flex-grow-2 py-2 px-3 border disabled:bg-gray-100"
    [ngClass]="[
      showButton ? 'border-r-0' : 'md:rounded-tr-md',
      inputValue.length > 1 ? 'md:rounded-br-none' : 'rounded-br-md',
    ]" />
  @if (showButton) {
    <button
      (click)="sendInputValue($event)"
      class="text-white border h-full bg-logo-blue hover:bg-logo-blue-hover box-border py-1.5 px-4 rounded-l-lg md:rounded-l-none rounded-r-lg">
      Buscar
    </button>
  }
  <!-- @if (inputValue.length > 1) {
    <div class="absolute top-10 w-full border border-t-0 rounded-b-lg bg-gray-100 z-50">
      @for (item of searchedItems; track $index) {
        <div
          class="hover:bg-gray-300 flex items-center gap-3 px-4 py-2 overflow-hidden cursor-pointer">
          <img class="h-7" [src]="item.img" alt="Your Company" />
          <p class="text-nowrap">{{ item.item }}</p>
        </div>
      }
      <div class="flex justify-center mt-3 mb-2">
        <button class="text-xs border bg-gray-100 hover:bg-gray-300 py-1.5 px-4 rounded-lg mb-3">
          Buscar
        </button>
      </div>
    </div>
  } -->
</div>
