<app-home
  [initialDataList]="initialDataList()"
  [breadcrumbList]="breadcrumbList"
  [inputSearchFilterList]="inputSearchFilterList"
  [tableHeaders]="tableHeaders"
  [isComponentSetToDefault]="isComponentSetToDefault"
  [deptName]="deptName"
  [inputSearchPlaceholder]="inputSearchPlaceholder"
  [newRegisterUrl]="newRegisterUrl"
  [tableHeadersLocalStorageId]="tableHeadersLocalStorageId"
  (refreshBtnClickEmitter)="onShowDataList()"
  (setToDefaultEmitter)="isComponentSetToDefault.set(false)"
  (redirectPageEmitter)="onRedirectToEditPage($event)"
  (cloneRegisterEmitter)="onCloneRegister($event)"
  (showModalToDeleteEmitter)="onShowModalToDeleteThroughTableBtn($event)">
</app-home>

<app-modal-ask
  [isModalActive]="modalAsk().isActive"
  [type]="'warning'"
  [title]="modalAsk().title"
  [description]="modalAsk().description"
  (closeActionNokEmitter)="onCloseAskModalAction(false)"
  (closeActionOkEmitter)="onCloseAskModalAction(true)" />
<app-modal-info
  [isModalActive]="modalInfo().isActive"
  [type]="modalInfo().type"
  [description]="modalInfo().description"
  [title]="modalInfo().title"
  (clickEmitter)="onCloseInfoModal()" />
<app-loading [isLoading]="isLoading()" />
