<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between gap-4 overflow-auto">
    <app-breadcrumb [items]="breadcrumbList" />
    <app-button-label
      (click)="onBackToPreviousPage()"
      [iconRightName]="'keyboard_arrow_left'"
      [label]="'Voltar'"
      [isColorLogo]="false"
      (click)="onBackToPreviousPage()" />
  </div>

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Dados cadastrais</h1>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col-reverse md:flex-row items-center gap-6">
        <div class="flex flex-col gap-3 grow w-full">
          <div class="flex flex-col gap-1">
            <label #labelForm class="font-medium text-sm" for="default"
              >Nome <span class="font-bold text-red-400">*</span></label
            >
            <app-input
              [inputName]="'custom'"
              [inputValue]="employeeData.name"
              [type]="'search'"
              (inputValueEmitter)="employeeData.name = $event" />
          </div>
          <div class="flex flex-col gap-1 grow">
            <label #labelForm class="font-medium text-sm" for="default"
              >Departamento <span class="font-bold text-red-400">*</span></label
            >
            <app-select
              [selectType]="'custom'"
              [optionList]="departmentOptionList"
              [selectValue]="departmentData.name || 'Selecione um item'"
              (selectValueEmitter)="setDepartmentValue($event.toString())" />
          </div>
        </div>
        <app-profile-photo
          [imgPreviewUrl]="employeeData.photoUrl ?? ''"
          (fileUrlEmitter)="onPhotoRemoved($event)" />
      </div>
      <div class="flex flex-col gap-1 grow">
        <label #labelForm class="font-medium text-sm" for="default">Cargo</label>
        <app-select
          [selectType]="'custom'"
          [optionList]="employeePositionOptionList"
          [selectValue]="employeePositionData.name"
          (selectValueEmitter)="setEmployeePositionValue($event.toString())" />
      </div>
      <div class="flex flex-col gap-1 grow">
        <label #labelForm class="font-medium text-sm" for="default">E-mail</label>
        <app-input
          [inputName]="'custom'"
          [inputValue]="employeeData.email ?? ''"
          [type]="'search'"
          (inputValueEmitter)="employeeData.email = $event" />
      </div>
      <div class="flex flex-col gap-1 grow">
        <label #labelForm class="font-medium text-sm" for="default">Telefone fixo</label>
        <app-input
          [inputName]="'phone'"
          [inputValue]="employeeData.deskphone ?? ''"
          [type]="'search'"
          (inputValueEmitter)="employeeData.deskphone = $event" />
      </div>
      <div class="flex flex-col gap-1 grow">
        <label #labelForm class="font-medium text-sm" for="default">Celular</label>
        <app-input
          [inputName]="'phone'"
          [inputValue]="employeeData.cellphone ?? ''"
          [type]="'search'"
          (inputValueEmitter)="employeeData.cellphone = $event" />
      </div>
    </div>
  </div>

  <footer class="flex gap-4 items-center justify-center md:justify-end">
    <app-button-label
      (click)="onBackToPreviousPage()"
      [iconRightName]="'close'"
      [label]="'Cancelar'"
      [isColorLogo]="false"></app-button-label>
    <app-button-label
      [iconRightName]="'save'"
      [label]="'Salvar'"
      (click)="onSaveRegister(onBackToPreviousPage)"></app-button-label>
  </footer>
</div>
