@if (lastPage > 1) {
  <nav class="text-sm flex justify-center gap-6 align-middle py-1.5 px-3">
    <div
      (click)="goBackPage()"
      (keypress)="goBackPage()"
      tabindex="0"
      class="flex items-center"
      [ngClass]="
        currentPage && currentPage <= 1
          ? 'text-gray-500 cursor-not-allowed'
          : 'cursor-pointer hover:text-gray-300'
      ">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <div class="flex items-center gap-2">
      <span>{{ currentPage }}</span
      ><span>de</span> <span>{{ lastPage }}</span>
    </div>
    <div
      (click)="goForwardPage()"
      (keypress)="goForwardPage()"
      tabindex="0"
      class="flex items-center"
      [ngClass]="
        currentPage && currentPage >= lastPage
          ? 'text-gray-500 cursor-not-allowed'
          : 'cursor-pointer hover:text-gray-300'
      ">
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </nav>
}
