<!-- <div class="flex items-center justify-between">
  <div class="flex flex-1 gap-4 justify-between sm:hidden">
    <app-button-label
      (click)="goBackPage()"
      [id]="'pagination-back'"
      [iconRightName]="'keyboard_arrow_left'"
      [label]="'Anterior'"
      [isColorLogo]="false" />
    <app-button-label
      (click)="goForwardPage()"
      [showLeftIcon]="false"
      [showRightIcon]="true"
      [iconRightName]="'keyboard_arrow_right'"
      [label]="'Próxmo'"
      [isColorLogo]="false"></app-button-label>
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">Total de registros: {{ totalRegister }}</p>
    </div>
    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-xs" aria-label="Pagination">
        <span
          tabindex="0"
          (keydown)="goBackPage()"
          (click)="goBackPage()"
          [ngClass]="
            currentPage == 1 ? 'text-gray-300' : 'text-gray-500 hover:bg-gray-200 cursor-pointer'
          "
          class="relative inline-flex items-center rounded-l-md px-2 py-2 border-t border-b border-l border-gray-400">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </span>
        @for (page of pagesArray; track $index) {
          <span
            tabindex="0"
            (keydown)="onPageNumberClick(page)"
            (click)="onPageNumberClick(page)"
            [ngClass]="
              currentPage == page
                ? 'is-active'
                : 'text-gray-900 border-t border-b border-l border-gray-400 hover:bg-gray-200 cursor-pointer'
            "
            class="inline-flex items-center px-4 py-2 text-sm"
            >{{ page }}</span
          >
        }
        <span
          (keydown)="goForwardPage()"
          (click)="goForwardPage()"
          tabindex="0"
          [ngClass]="
            currentPage == totalPages
              ? 'text-gray-300'
              : 'text-gray-500 hover:bg-gray-200 cursor-pointer'
          "
          class="relative inline-flex items-center rounded-r-md px-2 py-2 border border-gray-400">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </span>
      </nav>
    </div>
  </div>
</div> -->
