<div [ngClass]="divClass">
  <div class="flex justify-between">
    <div class="gap-0 tab-component-class text-sm">
      @for (tabTitle of arrayTabsTitle; track $index) {
        <button
          [id]="tabTitle"
          (click)="selectTab($index)"
          class="border border-gray-500 px-3 py-2 first:rounded-tl-lg last:rounded-tr-lg">
          {{ tabTitle }}
        </button>
      }
    </div>
  </div>
  <div class="border border-gray-500 w-full p-4">
    <ng-content></ng-content>
  </div>
</div>
