<div [ngClass]="divClass">
  <div class="text-sm overflow-x-auto text-nowrap">
    @for (tabLabel of tabList; track $index) {
      <button
        [id]="tabLabel"
        (click)="selectTab($index)"
        class="border border-gray-500 px-3 py-2 first:rounded-tl-lg last:rounded-tr-lg"
        [ngClass]="selectedTabIdx == $index ? 'is-active' : ''">
        {{ tabLabel }}
      </button>
    }
  </div>
  <div class="border border-gray-500 w-full p-4">
    <ng-content></ng-content>
  </div>
</div>
