<!-- <div class="flex flex-col gap-10">
  <div class="flex flex-col gap-5">
    <div
      class="flex flex-col-reverse md:flex-row gap-4 h-full md:items-stretch md:justify-between md:gap-10">
      <app-input-addons />
      <div class="flex justify-center gap-4">
        <div class="is-hidden-mobile">
          <app-table-header-box [tableHeaders]="tableHeaders()"></app-table-header-box>
        </div>
        <app-button [showIcon]="true" [btnType]="'icon-add'" (click)="showNewForm()"></app-button>
        <app-button
          [showIcon]="true"
          [isDisabled]="isEditBtnDisabled()"
          [btnType]="'icon-edit'"
          (click)="onShowModalEditForm()"></app-button>
        <app-button
          [showIcon]="true"
          [isDisabled]="isDelBtnDisabled()"
          [btnType]="'icon-delete'"
          (click)="onShowModalAskToDelete()"></app-button>
        @if (isSelectItemModal) {
          <app-button
            [showIcon]="true"
            [isDisabled]="isEditBtnDisabled()"
            [btnType]="'icon-send'"></app-button>
        }
      </div>
    </div>
    <div class="is-hidden-tablet">
      <app-table-header-box [tableHeaders]="tableHeaders()"></app-table-header-box>
    </div>

    <app-table-base>
      <tr thead-row>
        @for (header of tableHeaders(); track $index) {
          @if (header.showHeader) {
            @if ($index == 0) {
              <th class="table-td flex items-center justify-center">
                <input type="checkbox" [(ngModel)]="checkboxHeaderValue" />
              </th>
            } @else {
              <th class="table-td">
                {{ header.name }}
              </th>
            }
          }
        }
      </tr>
      <tbody tbody-row class="divide-y divide-gray-500 border border-gray-500">
        @for (employeeData of employeesData(); track employeeData.idEmployee) {
          <tr class="h-full py-2">
            @if (tableHeaders()[0].showHeader) {
              <td class="table-td flex items-center justify-center">
                <input
                  type="checkbox"
                  name="table-checkbox"
                  (change)="onChangeBodyCheckboxValue($index, $event)"
                  [(ngModel)]="tableCheckbox().body[$index]" />
              </td>
            }
            @if (tableHeaders()[1].showHeader) {
              <td class="table-td">
                {{ employeeData.idEmployee }}
              </td>
            }
            @if (tableHeaders()[2].showHeader) {
              <td class="table-td">
                {{ employeeData.name }}
              </td>
            }
            @if (tableHeaders()[3].showHeader) {
              <td class="table-td">
                {{ employeeData.cpf || '' | mask: setMask('cpf', $index) }}
              </td>
            }
            @if (tableHeaders()[4].showHeader) {
              <td class="table-td">{{ employeeData.department }}</td>
            }
            @if (tableHeaders()[5].showHeader) {
              <td class="table-td">{{ employeeData.position }}</td>
            }
            @if (tableHeaders()[6].showHeader) {
              <td class="table-td">{{ employeeData.email }}</td>
            }
            @if (tableHeaders()[7].showHeader) {
              <td class="table-td">
                {{ employeeData.deskphone || '' | mask: setMask('phone', $index) }}
              </td>
            }
            @if (tableHeaders()[8].showHeader) {
              <td class="table-td">
                {{ employeeData.cellphone || '' | mask: setMask('phone', $index) }}
              </td>
            }
          </tr>
        } @empty {
          <tr class="text-center italic">
            <td [attr.colspan]="tableHeaders().length" class="p-2">
              Não existem endereços a serem exibidos!
            </td>
          </tr>
        }
      </tbody>
    </app-table-base>
    <app-pagination
      [currentPage]="pagination().currentPage"
      [lastPage]="pagination().lastPage"
      (currentPageEmitter)="changePage($event)"></app-pagination>
  </div>
</div>

<app-modal-base
  [showModal]="modalForm().isActive"
  [isModalForm]="true"
  [title]="modalForm().isEditForm ? 'Alterar dados do funcionário' : 'Cadastro de novo funcionário'"
  (emitCloseModal)="onCloseModalForm()">
  <div class="body-block">
    <div class="flex flex-col gap-2">
      @if (modalForm().isEditForm) {
        <div class="flex flex-col gap-1">
          <label class="font-semibold text-sm" for="">Id</label>
          <app-input-standard
            [propsInput]="employeeData().idEmployee"
            [isDisabled]="true"
            [showRightIcon]="false"
            (emitInputValue)="getEmployeeId($event)"
            [inputClass]="'text-black h-9'"></app-input-standard>
        </div>
      }
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Nome</label>
        <app-input-standard
          [propsInput]="employeeData().name"
          [showRightIcon]="false"
          (emitInputValue)="employeeData().name = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">CPF</label>
        <app-input-standard
          [propsInput]="employeeData().cpf || ''"
          [maskType]="'cnpj'"
          [showRightIcon]="false"
          (emitInputValue)="employeeData().cpf = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Departamento</label>
        <app-input-standard
          [propsInput]="employeeData().department || ''"
          [showRightIcon]="false"
          (emitInputValue)="employeeData().department = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Cargo</label>
        <app-input-standard
          [propsInput]="employeeData().position || ''"
          [showRightIcon]="false"
          (emitInputValue)="employeeData().position = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">E-mail</label>
        <app-input-standard
          [propsInput]="employeeData().email || ''"
          [showRightIcon]="false"
          (emitInputValue)="employeeData().email = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Telefone fixo</label>
        <app-input-standard
          [propsInput]="employeeData().deskphone || ''"
          [maskType]="'phone'"
          [showRightIcon]="false"
          (emitInputValue)="employeeData().deskphone = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Celular</label>
        <app-input-standard
          [propsInput]="employeeData().cellphone || ''"
          [maskType]="'phone'"
          [showRightIcon]="false"
          (emitInputValue)="employeeData().cellphone = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
    </div>
  </div>
  <div class="grid footer-block md:flex md:justify-center gap-5 mt-6 w-full">
    <app-button [btnType]="'close'" (click)="onCloseModalForm()"></app-button>
    <app-button [btnType]="'success-save'" (click)="save()"></app-button>
  </div>
</app-modal-base>

<app-modal-ask
  [showModal]="modalAsk().isActive"
  [description]="modalInfo().description"
  [type]="modalInfo().type"
  (closeEmitter)="modalAsk().isActive = false"
  (actionOkEmitter)="onModalAskActionOk()"></app-modal-ask>
<app-modal-info
  [showModal]="modalInfo().isActive"
  [description]="modalInfo().description"
  [type]="modalInfo().type"
  (closeModalEmitter)="onCloseModalInfo()"></app-modal-info>
<app-loading [showLoading]="showLoading()"></app-loading> -->
