<app-modal-base [showModal]="modalStore.info().isActive" [showHeader]="false">
  <div class="body-block flex flex-col gap-5">
    <div class="mx-auto h-8 w-8 rounded-full p-1" [ngClass]="iconBackgroundColor()">
      <mat-icon class="text-white">{{ icon() }}</mat-icon>
    </div>
    <div class="flex flex-col gap-3 text-center text-gray-900">
      <h1 class="font-semibold">
        {{ modalStore.info().title }}
      </h1>
      <p class="text-sm">
        {{ modalStore.info().description }}
      </p>
    </div>
  </div>
  <div class="footer-block">
    <div class="mt-5 flex justify-center">
      <app-button-label
        (click)="onClick()"
        (keyboardEmitter)="onKeyBoardEnter($event)"
        [label]="'Fechar'"
        [isColorLogo]="false"></app-button-label>
    </div>
  </div>
</app-modal-base>
