<!-- <div class="flex flex-col gap-4">
  <div class="flex items-center justify-between gap-4 overflow-auto">
    <app-breadcrumb [items]="breadcrumbList" />
    <app-button-label
      [iconRightName]="'keyboard_arrow_left'"
      [label]="'Voltar'"
      [isColorLogo]="false"
      (click)="onBackToPreviousPage()" />
  </div>

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Dados cadastrais</h1>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col md:flex-row gap-4">
        @if (taskFormData.idTask != null && taskFormData.idTask > 0) {
          <div class="flex flex-col gap-1 md:w-24 w-full">
            <label #labelForm class="font-medium text-sm" for="default">Id</label>
            <app-input
              [inputName]="'custom'"
              [isDisabled]="isDisabled.idTask"
              [inputValue]="taskFormData.idTask == 0 ? '' : taskFormData.idTask.toString()"
              [type]="'search'" />
          </div>
        }
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >Funcionário <span class="font-bold text-red-400">*</span></label
          >
          <app-select
            [selectType]="'custom'"
            [borderType]="borderType.employee"
            [isDisabled]="isDisabled.employee"
            [optionList]="employeeOptionList"
            [selectValue]="taskFormData.employee?.name || 'Selecione um item'"
            (selectValueEmitter)="setEmployeeValue($event.toString())" />
          <app-help
            [text]="'Este campo não pode estar vazio'"
            [type]="'failure'"
            [isHelpTextActive]="borderType.employee == 'failure'"></app-help>
        </div>

        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >Tipo da Atividade <span class="font-bold text-red-400">*</span></label
          >
          <app-select
            [selectType]="'custom'"
            [isDisabled]="isDisabled.taskType"
            [borderType]="borderType.taskType"
            [optionList]="taskTypeOptionList"
            [selectValue]="taskFormData.taskType?.name || 'Selecione um item'"
            (selectValueEmitter)="setTaskTypeValue($event.toString())" />
          <app-help
            [text]="'Este campo não pode estar vazio'"
            [type]="'failure'"
            [isHelpTextActive]="borderType.taskType == 'failure'"></app-help>
        </div>
        @if (eligibleTaskTypeOptionsForTooling.includes(taskFormData.taskType?.name ?? '')) {
          <div class="flex items-end gap-4 grow">
            <div class="flex flex-col gap-1 grow">
              <label #labelForm class="font-medium text-sm" for="default"
                >Ferramenta <span class="font-bold text-red-400">*</span></label
              >
              <app-input
                [inputName]="'custom'"
                [isDisabled]="isDisabled.tooling"
                [borderType]="borderType.tooling"
                [initialInputList]="toolingOptionList"
                [inputValue]="
                  taskFormData.product?.internalPartNumber && taskFormData.product?.name
                    ? taskFormData.product?.internalPartNumber + '_' + taskFormData.product?.name
                    : ''
                "
                [type]="'search'"
                (inputValueEmitter)="onSetSelectedTooling($event)" />
              <app-help
                [text]="'Este campo não pode estar vazio'"
                [type]="'failure'"
                [isHelpTextActive]="borderType.tooling == 'failure'"></app-help>
            </div>
            <app-button-icon
              (click)="onShowModalForm(toolingProductType)"
              [iconName]="'search'"
              [isDisabled]="isDisabled.usedSpareParts"
              class="grow-0" />
          </div>
        }
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        @if (eligibleTaskTypeOptionsForProductionLine.includes(taskFormData.taskType?.name || '')) {
          <div class="flex flex-col gap-1 grow-0">
            <label #labelForm class="font-medium text-sm" for="default"
              >Linha de Produção <span class="font-bold text-red-400">*</span></label
            >
            <app-select
              [selectType]="'custom'"
              [optionList]="productionLineOptionList"
              [borderType]="borderType.productionLine"
              [isDisabled]="isDisabled.productionLine"
              [selectValue]="taskFormData.productionLine?.lineCode || 'Selecione um item'"
              (selectValueEmitter)="setProductionLineValue($event.toString())" />
            <app-help
              [text]="'Este campo não pode estar vazio'"
              [type]="'failure'"
              [isHelpTextActive]="borderType.productionLine == 'failure'"></app-help>
          </div>
        }
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >Atividade <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [inputName]="'custom'"
            [isDisabled]="isDisabled.name"
            [borderType]="borderType.name"
            [inputValue]="taskFormData.name || ''"
            [type]="'search'"
            (changeEmitter)="onFormFieldsChange('name')"
            (inputValueEmitter)="taskFormData.name = $event" />
          <app-help
            [text]="'O campo deve ter no mínimo 3 caracteres'"
            [type]="'failure'"
            [isHelpTextActive]="borderType.name == 'failure'"></app-help>
        </div>
      </div>
      <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Resultado</h1>
      <div class="flex flex-col md:flex-row gap-4 grow">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Inicio</label>
          <app-input
            [inputName]="'custom'"
            [isDisabled]="isDisabled.startDate"
            [inputValue]="startDate" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Fim</label>
          <app-input
            [inputName]="'custom'"
            [isDisabled]="isDisabled.finishDate"
            [inputValue]="finishDate" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Status</label>
          <app-select
            [selectType]="'status'"
            [isDisabled]="isDisabled.status"
            [selectValue]="taskStatus || 'Não iniciado'"
            (selectValueEmitter)="setStatusValue($event.toString())" />
        </div>
      </div>
      <div class="flex gap-4">
        <app-toogle-button
          [isChecked]="showSpareParts"
          [isDisabled]="isDisabled.usedSpareParts"
          [toggleId]="'task-form-tooggle'"
          (isCheckedEmitter)="onToogleButtonChange($event)" />
        <p>Houve troca de peças?</p>
      </div>
      @if (
        showSpareParts && taskFormData.usedSpareParts && taskFormData.usedSpareParts.length > 0
      ) {
        <div class="flex flex-col items-end gap-4 w-full">
          @for (
            sparePart of taskFormData.usedSpareParts;
            track trackBySparePartId($index, sparePart)
          ) {
            <div class="flex md:flex-row items-end gap-4 w-full">
              <div class="flex md:flex-row items-end gap-4 w-full">
                <div class="flex flex-col gap-1 grow">
                  <label #labelForm class="font-medium text-sm" for="default">Peça trocada</label>
                  <app-input
                    [inputName]="'custom'"
                    [isDisabled]="isDisabled.usedSpareParts"
                    [initialInputList]="usedSparePartsOptionList"
                    [inputValue]="
                      sparePart.internalPartNumber && sparePart.name
                        ? sparePart.internalPartNumber + separatorSymbol + sparePart.name
                        : ''
                    "
                    [type]="'search'"
                    (changeEmitter)="onFormFieldsChange('usedSpareParts')"
                    (inputValueEmitter)="onSparePartInputChange($event, $index)" />
                  <app-help
                    [text]="'Este campo está duplicado'"
                    [type]="'failure'"
                    [isHelpTextActive]="borderType.usedSpareParts[$index] == 'failure'"></app-help>
                </div>
                <app-button-icon
                  [iconName]="'search'"
                  (click)="onShowModalForm(sparePartsProductType, $index)"
                  [isDisabled]="isDisabled.usedSpareParts"
                  class="grow-0" />
                <div class="flex flex-col gap-1 grow-0">
                  <label #labelForm class="font-medium text-sm" for="default">Qtd trocada</label>
                  <app-input
                    [inputName]="'custom'"
                    [isDisabled]="isDisabled.usedSpareParts"
                    [type]="'number'"
                    [inputValue]="sparePart.qty.toString()"
                    (inputValueEmitter)="onSparePartQtyChange($event, $index)" />
                </div>
              </div>
              <div class="flex gap-2">
                <app-button-icon
                  [iconName]="'add'"
                  [isDisabled]="isDisabled.usedSpareParts"
                  class="grow-0"
                  (click)="onAddSparePartsRow()" />
                <app-button-delete
                  [isDisabled]="isDisabled.usedSpareParts"
                  (click)="onRemoveSparePartsRow(sparePart)" />
              </div>
            </div>
          }
        </div>
      }
      <app-photo-box-list
        [imgPreviewList]="taskFormData.imgPreviewList || []"
        [isDisabled]="isDisabled.photoBoxList"
        (fileListChangeEmitter)="onFileListChange($event)"></app-photo-box-list>
      <div class="flex flex-col gap-1 grow">
        <label #labelForm class="font-medium text-sm" for="default">Laudo técnico</label>
        <app-text-area
          [inputValue]="taskFormData.comment ?? ''"
          [isDisabled]="isDisabled.comment"
          (inputValueEmitter)="taskFormData.comment = $event" />
      </div>
    </div>
  </div>

  <footer class="flex gap-4 items-center justify-center md:justify-end">
    <app-button-label
      (click)="onBackToPreviousPage()"
      [iconRightName]="'close'"
      [label]="'Cancelar'"
      [isColorLogo]="false"></app-button-label>
    <app-button-label
      [iconRightName]="'save'"
      [label]="'Salvar'"
      [isDisabled]="isDisabled.saveButton"
      (click)="onSaveRegister(onBackToPreviousPage)"></app-button-label>
  </footer>
</div>

<app-modal-base [showModal]="modalForm.isActive" [width]="'sm:w-5/6'" [showHeader]="false">
  <div class="body-block">
    <div class="flex flex-col gap-5">
      <app-breadcrumb [items]="modalBreadcrumbList" />
      @if (baseRegisterStore.dataList().length > 0) {
        <div class="flex flex-col gap-5">
          <div class="top-button-layout gap-6 sm:gap-3 overflow-x-auto">
            <div class="flex gap-3">
              <app-input
                [inputValue]="baseRegisterStore.inputSearchValue()"
                [id]="'input-filter'"
                [placeholder]="inputSearchPlaceholder"
                [inputName]="'search'"
                (clickEmitter)="
                  baseRegisterStore.onSetInputSearchFilterItemToDefault(inputSearchFilterList)
                "
                (keyboardEmitter)="
                  baseRegisterStore.onKeyPressOnSearchInput($event, inputSearchFilterList)
                "
                (inputValueEmitter)="
                  baseRegisterStore.onSetSlicePropsToNewValue('inputSearchValue', $event)
                " />
            </div>
          </div>
          @if (baseRegisterStore.isAtLeastOneFilterHelpNotEmpty()) {
            <div class="flex flex-wrap items-center gap-3 text-sm">
              @if (baseRegisterStore.filterHelp().inputSearch.length > 0) {
                <div class="flex items-center gap-2">
                  <p>Pesquisa: {{ baseRegisterStore.filterHelp().inputSearch }}</p>
                  <app-button-close
                    (click)="
                      baseRegisterStore.onSetInputSearchFilterItemToDefault()
                    "></app-button-close>
                </div>
              } @else {
                @for (tableHeader of baseRegisterStore.tableHeaders(); track trackByIndex($index)) {
                  @if (baseRegisterStore.filterHelp()[tableHeader.databaseField]) {
                    <div class="flex items-center gap-2">
                      <p>
                        {{ tableHeader.headerName }} :
                        {{ baseRegisterStore.filterHelp()[tableHeader.databaseField] }}
                      </p>
                      <app-button-close
                        (click)="
                          baseRegisterStore.onSetFilterBoxItemToDefault(tableHeader.databaseField)
                        "></app-button-close>
                    </div>
                  }
                }
              }
              <button
                (click)="baseRegisterStore.onClearData()"
                class="text-logo font-semibold cursor-pointer hover:text-logo-hover hover:underline">
                Limpar
              </button>
            </div>
          }
          <app-table
            [isModalView]="true"
            [modalItemList]="modalItemList"
            (modalItemListEmitter)="onModalItemChange($event)"
            (dataEmitter)="onSetTableItem($event)" />
          <app-pagination
            [currentPage]="baseRegisterStore.pagination().currentPage"
            [totalRegister]="baseRegisterStore.dataList().length"
            [pagesArray]="baseRegisterStore.pagination().pagesArray"
            [qtyPerPage]="baseRegisterStore.pagination().qtyPerPage"
            [totalPages]="baseRegisterStore.pagination().totalPages"
            [breakpointPage]="baseRegisterStore.pagination().breakpointPage"
            (currentPageEmitter)="baseRegisterStore.onSetCurrentPagePagination($event)" />
        </div>
      } @else {
        <div class="flex flex-col items-center gap-4 w-full mt-10">
          <p class="font-semibold">Nenhum registro encontrado</p>
          @if (baseRegisterStore.inputSearchValue().length > 0) {
            <p>
              Palavra(s) Pesquisada(s) :
              <span class="font-semibold">{{ baseRegisterStore.inputSearchValue() }}</span>
            </p>
          }
          <app-button-label
            (keyboardEmitter)="baseRegisterStore.onKeyPressOnNotFoundFilterRegister($event)"
            (click)="baseRegisterStore.onClearData()"
            [label]="'Voltar'" />
        </div>
      }
    </div>
  </div>
  <div
    class="footer-block flex gap-5 justify-center items-stretch border-t border-gray-400 mt-3 pt-4">
    <app-button-label
      [label]="'Cancelar'"
      [isColorLogo]="false"
      [iconRightName]="'close'"
      (click)="onActionNokModalForm()"></app-button-label>
    <app-button-label
      [label]="'Selecionar'"
      [isDisabled]="modalForm.isBtnDisabled"
      [iconRightName]="'save'"
      (click)="onActionOkModalForm()"></app-button-label>
  </div>
</app-modal-base> -->
