<!-- <div class="flex flex-col gap-5">
  <app-breadcrumb [items]="breadcrumbList" />
  @if (baseRegisterStore.dataList().length > 0) {
  <div class="flex flex-col gap-5">
    <div class="top-button-layout gap-6 sm:gap-3 overflow-x-auto">
      <div class="flex gap-3">
        <app-input
          [inputValue]="baseRegisterStore.inputSearchValue()"
          [id]="'input-filter'"
          [placeholder]="inputSearchPlaceholder"
          [inputName]="'search'"
          (iconClickEmitter)="
              baseRegisterStore.onSetInputSearchFilterItemToDefault(inputSearchFilterList)
            "
          (keyboardEmitter)="
              baseRegisterStore.onKeyPressOnSearchInput($event, inputSearchFilterList)
            "
          (inputValueEmitter)="
              baseRegisterStore.onSetStateToNewValue('inputSearchValue', $event)
            " />
        <app-tooltip [description]="'Filtro'" [position]="'right'">
          <app-button-icon
            content
            (click)="baseRegisterStore.onSetStateToNewValue('isFilterBoxActive', true)"
            [iconName]="'filter_list'" />
        </app-tooltip>
      </div>
      <div class="flex gap-3">
        <app-button-icon
          (click)="modalStore.onRedirectPage(`/${currentView}/new`)"
          [iconName]="'add'" />
        <app-button-delete
          (click)="onShowModalToDelete()"
          [isDisabled]="baseRegisterStore.isDelBtnDisabled()" />
        <app-tooltip [position]="'left'" [description]="'Colunas visíveis'">
          <app-button-icon
            content
            [iconName]="'view_column'"
            (click)="baseRegisterStore.onSetStateToNewValue('isTableHeaderBoxActive', true)" />
        </app-tooltip>
        <div class="is-hidden-from-640px">
          <app-button-icon [iconName]="'refresh'" (click)="onShowDataList()" />
        </div>
      </div>
    </div>
    @if (baseRegisterStore.isAtLeastOneFilterHelpNotEmpty()) {
    <div class="flex flex-wrap items-center gap-3 text-sm">
      @if (baseRegisterStore.filterHelp().inputSearch.length > 0) {
      <div class="flex items-center gap-2">
        <p>Pesquisa: {{ baseRegisterStore.filterHelp().inputSearch }}</p>
        <app-button-close
          (click)="
                  baseRegisterStore.onSetInputSearchFilterItemToDefault()
                "></app-button-close>
      </div>
      } @else { @for (tableHeader of baseRegisterStore.tableHeaders(); track $index) { @if
      (baseRegisterStore.filterHelp()[tableHeader.databaseField]) {
      <div class="flex items-center gap-2">
        <p>
          {{ tableHeader.headerName }} : {{
          baseRegisterStore.filterHelp()[tableHeader.databaseField] }}
        </p>
        <app-button-close
          (click)="
                      baseRegisterStore.onSetFilterBoxItemToDefault(tableHeader.databaseField)
                    "></app-button-close>
      </div>
      } } }
      <button
        (click)="baseRegisterStore.onClearData()"
        class="text-logo font-semibold cursor-pointer hover:text-logo-hover hover:underline">
        Limpar
      </button>
    </div>
    }
    <app-table
      (refreshBtnClickEmitter)="onShowDataList()"
      (deleteBtnClickEmitter)="onShowModalToDelete()"
      (rowClickEmitter)="onRedirectToEditPage($event)" />
  </div>
  } @else {
  <div class="flex flex-col items-center gap-4 w-full mt-10">
    <mat-icon class="text-logo text-6xl"
      >{{ baseRegisterStore.isFilterResultZeroRegister() ? 'search_off' : 'library_add' }}</mat-icon
    >
    <p class="font-semibold">Nenhum registro encontrado</p>
    @if (!baseRegisterStore.isFilterResultZeroRegister()) {
    <app-button-label
      (click)="modalStore.onRedirectPage(`/${currentView}/new`)"
      [showLeftIcon]="true"
      [iconRightName]="'add'"
      [label]="'Adicionar um novo registro'" />
    } @else { @if (baseRegisterStore.inputSearchValue().length > 0) {
    <p>
      Palavra(s) Pesquisada(s) :
      <span class="font-semibold">{{ baseRegisterStore.inputSearchValue() }}</span>
    </p>
    } @else {
    <p>Campo(s) pesquisado(s) :</p>
    @for (tableHeader of baseRegisterStore.tableHeaders(); track $index) { @if
    (baseRegisterStore.filterBox()[tableHeader.databaseField]) {
    <p>
      {{ tableHeader.headerName }} :
      <span class="font-semibold"
        >{{ baseRegisterStore.filterBox()[tableHeader.databaseField] }}</span
      >
    </p>
    } } }
    <app-button-label
      (keyboardEmitter)="baseRegisterStore.onKeyPressOnNotFoundFilterRegister($event)"
      (click)="baseRegisterStore.onClearData()"
      [label]="'Voltar'" />
    }
  </div>
  }
</div>

<app-side-bar
  [isSideBarActive]="baseRegisterStore.isFilterBoxActive()"
  [isTwoThirdWidth]="false"
  [titleIconName]="'filter_list'"
  [title]="'Filtro'"
  [btnLabel]="'Aplicar'"
  [isPrimaryBtnDisabled]="!baseRegisterStore.isAtLeastOneFilterBoxNotEmpty()"
  (primaryBtnClickEmitter)="baseRegisterStore.onClickOnFilterBtnThroughFilterBox()"
  (isCloseBtnClickEmitter)="baseRegisterStore.onSetStateToNewValue('isFilterBoxActive', false)">
  <div body class="flex flex-col gap-4">
    @for (tableHeader of baseRegisterStore.tableHeaders(); track $index) {
    <div class="flex flex-col gap-2">
      <p class="font-medium">{{ tableHeader.headerName }}</p>
      <app-input
        [id]="`filter-${ currentView }-${ tableHeader.databaseField }`"
        [inputName]="tableHeader.databaseField == 'cnpj' ? 'cnpj' : 'custom'"
        [inputValue]="baseRegisterStore.filterBox()[tableHeader.databaseField]"
        [type]="'search'"
        (inputValueEmitter)="
            baseRegisterStore.onSetFilterBoxValue(tableHeader.databaseField, $event)
          "
        (keyboardEmitter)="baseRegisterStore.onKeyPressOnFilterBox($event)" />
    </div>
    }
  </div>
</app-side-bar>

<app-side-bar
  [isSideBarActive]="baseRegisterStore.isTableHeaderBoxActive()"
  [isTwoThirdWidth]="false"
  [isFooterActive]="false"
  [title]="'Colunas Visíveis'"
  (isCloseBtnClickEmitter)="
    baseRegisterStore.onSetStateToNewValue('isTableHeaderBoxActive', false)
  ">
  <div body class="flex flex-col gap-6">
    <p>Selecione abaixo as colunas que deseja estarem visíveis na tabela</p>
    <div class="flex flex-col gap-2">
      @for (header of baseRegisterStore.tableHeaders(); track $index) { @if (!$first) {
      <div class="flex gap-4">
        <app-toogle-button
          [isChecked]="header.isHeaderActive"
          [toggleId]="'production-line-toggle'"
          (isCheckedEmitter)="
                baseRegisterStore.onSetHeaderDisplay($index, tableHeadersLocalStorageId)
              " />
        <p>{{ header.headerName }}</p>
      </div>
      } }
    </div>
  </div>
</app-side-bar> -->
