<div
  class="min-h-screen flex flex-col justify-center px-4 sm:mx-auto max-[450px]:mt-2 max-[450px]:mb-2 sm:w-full sm:max-w-sm">
  <!--Título-->
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">Nova senha</h2>
  </div>
  <!--Senha-->
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <label for="password" class="block text-sm font-medium leading-6">Senha</label>
      <app-input
        [id]="'input-signup-new-password'"
        [inputType]="'password'"
        [inputClass]="changePasswordBorderColor()" />
      <div class="mt-2">
        <app-input-validation
          (emitValidationResult)="getPasswordLettersValidation($event)"
          [inputValue]="newPassword.password()"
          [validationType]="'letters'"
          [validationLettersQty]="6"
          [validationText]="'A senha deve ter no mínimo 6 caracteres!'"></app-input-validation>
        <app-input-validation
          (emitValidationResult)="getPasswordUpperCaseValidation($event)"
          [inputValue]="newPassword.password()"
          [validationType]="'passwordUppercase'"
          [validationText]="'A senha deve ter no mínimo 1 letra maiúscula!'"></app-input-validation>
        <app-input-validation
          (emitValidationResult)="getPasswordNumberValidation($event)"
          [inputValue]="newPassword.password()"
          [validationType]="'passwordNumber'"
          s
          [validationText]="'A senha deve ter no mínimo 1 número!'"></app-input-validation>
        <app-input-validation
          (emitValidationResult)="getPasswordSymbolValidation($event)"
          [inputValue]="newPassword.password()"
          [validationType]="'passwordSymbol'"
          [validationText]="
            'A senha deve ter no mínimo 1 caractere especial!'
          "></app-input-validation>
      </div>
    </div>
    <!--Confirmar Senha-->
    <div class="flex flex-col gap-1">
      <label for="password" class="block mb-2 text-sm font-medium leading-6">Confirmar senha</label>
      <app-input
        [id]="'input-confirm-password'"
        [inputType]="'password'"
        [inputClass]="changeConfirmPasswordBorderColor()" />

      <div>
        <app-input-validation
          (emitValidationResult)="getConfirmPasswordValidation($event)"
          [inputValue]="newPassword.confirmPassword()"
          [validationType]="'passwordConfirmation'"
          [inputValueToCompare]="newPassword.password()"
          [validationText]="'As 2 senhas devem ser iguais'"></app-input-validation>
      </div>
    </div>
    <!--Button-->
    <div class="mt-4 mb-2">
      <app-button-label
        (click)="createNewPassword()"
        [isDisabled]="!allValidationsOk()"
        [label]="'Alterar senha'"></app-button-label>
    </div>
    <p class="text-center text-sm">
      Já possui cadastro?
      <span
        (click)="redirectToLoginPage()"
        aria-hidden="true"
        class="font-semibold leading-6 cursor-pointer">
        Clique aqui!</span
      >
    </p>
  </div>
  <app-loading></app-loading>
  <app-modal-info
    [showModal]="isModalActive"
    [type]="modalInfo.type"
    [description]="modalInfo.description"
    (closeModalEmitter)="closeModal($event)"></app-modal-info>
</div>
