<div
  class="min-h-screen flex flex-col justify-center px-4 sm:mx-auto max-[450px]:mt-2 max-[450px]:mb-2 sm:w-full sm:max-w-sm">
  <!--Título-->
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">Nova senha</h2>
  </div>
  <!--Senha-->
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <label for="password" class="block text-sm font-medium leading-6">Senha</label>
      <app-input
        [id]="'input-new-password-password'"
        [inputName]="'password'"
        [borderType]="authStore.helpAndBorderColor('password')()"
        (focusEmitter)="authStore.onSetErrorProperty('password', true)"
        (inputValueEmitter)="authStore.onSetUserProperty('password', $event)" />
      <div>
        <app-help
          [isHelpTextActive]="authStore.user().password.length > 0"
          [text]="'A senha deve ter no mínimo 6 caracteres!'"
          [type]="authStore.passwordHelpColor('isPasswordLetterQtyOk')()" />
        <app-help
          [isHelpTextActive]="authStore.user().password.length > 0"
          [text]="'A senha deve ter no mínimo 1 letra maiúscula!'"
          [type]="authStore.passwordHelpColor('isPasswordUpperCaseLetterOk')()" />
        <app-help
          [isHelpTextActive]="authStore.user().password.length > 0"
          [text]="'A senha deve ter no mínimo 1 número!'"
          [type]="authStore.passwordHelpColor('isPasswordNumberOk')()" />
        <app-help
          [isHelpTextActive]="authStore.user().password.length > 0"
          [text]="'A senha deve ter no mínimo 1 caractere especial!'"
          [type]="authStore.passwordHelpColor('isPasswordSymbolOk')()" />
      </div>
    </div>
    <!--Confirmar Senha-->
    <div class="flex flex-col gap-1">
      <label for="password" class="block mb-2 text-sm font-medium leading-6">Confirmar senha</label>
      <app-input
        [id]="'input-new-password-confirm-password'"
        [inputName]="'password'"
        [borderType]="authStore.helpAndBorderColor('confirmPassword')()"
        (focusEmitter)="authStore.onSetErrorProperty('confirmPassword', true)"
        (inputValueEmitter)="authStore.onSetUserProperty('confirmPassword', $event)" />
      <app-help
        [isHelpTextActive]="authStore.user().confirmPassword.length > 0"
        [text]="'As 2 senhas devem ser iguais'"
        [type]="authStore.helpAndBorderColor('confirmPassword')()" />
    </div>
    <!--Button-->
    <div class="mt-4 mb-2">
      <app-button-label
        (click)="createNewPassword()"
        [isDisabled]="!authStore.isConfirmPasswordOk()"
        [label]="'Alterar senha'"></app-button-label>
    </div>
    <p class="text-center text-sm">
      Já possui cadastro?
      <span
        (click)="onRedirectToLoginPage()"
        aria-hidden="true"
        class="font-semibold leading-6 cursor-pointer">
        Clique aqui!</span
      >
    </p>
  </div>
  <app-loading></app-loading>
  <app-modal-info
    [isModalActive]="modalStore.info().isActive"
    [title]="modalStore.info().title"
    [description]="modalStore.info().description"
    (clickEmitter)="onCloseSignUpInfoModal()" />
</div>
