<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between gap-4 overflow-auto">
    <app-breadcrumb [items]="['Cadastro', 'Empresas', `${formTitle()}`]" />
    <app-button-label
      (click)="onBackToCompaniesPage()"
      [id]="'company-form-back'"
      [iconRightName]="'keyboard_arrow_left'"
      [label]="'Voltar'"
      [isColorLogo]="false"
      (click)="onBackToCompaniesPage()" />
  </div>

  <!-- Dados cadastrais -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Dados cadastrais</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-nickname"
            >Nome Fantasia <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [id]="'company-form-nickname'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.company.nickname"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.company.nickname = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-name"
            >Nome <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [id]="'company-form-name'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.company.name"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.company.name = $event" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-cnpj"
            >CNPJ ou CPF <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [id]="'company-form-cnpj'"
            [inputName]="'cnpj'"
            [inputValue]="companyDetailedData.company.cnpj || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.company.cnpj = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-ie">Inscrição Estadual</label>
          <app-input
            [id]="'company-form-ie'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.company.ie || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.company.ie = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-im">Inscrição Municipal</label>
          <app-input
            [id]="'company-form-im'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.company.im || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.company.im = $event" />
        </div>
      </div>
    </div>
  </div>

  <!-- Endereço -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Endereço (Opcional)</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="company-form-nickname">CEP</label>
          <app-input
            [id]="'company-form-cep'"
            [inputName]="'postalCode'"
            [inputValue]="companyDetailedData.address.postalCode"
            (changeEmitter)="onSetAddressViaCEPValues()"
            (inputValueEmitter)="companyDetailedData.address.postalCode = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-nickname">Logradouro</label>
          <app-input
            [id]="'company-form-address'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.address.address"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.address.address = $event" />
        </div>
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="company-form-name">Número</label>
          <app-input
            [id]="'company-form-number'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.address.number || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.address.number = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-cnpj">Complemento</label>
          <app-input
            [id]="'company-form-complement'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.address.complement || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.address.complement = $event" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-ie">Bairro</label>
          <app-input
            [id]="'company-form-district'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.address.district || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.address.district = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-im">Cidade</label>
          <app-input
            [id]="'company-form-city'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.address.city || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.address.city = $event" />
        </div>
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="company-form-im">UF</label>
          <app-select
            [selectType]="'state'"
            [selectValue]="companyDetailedData.address.state || 'Selecione um item'"
            (selectValueEmitter)="companyDetailedData.address.state = $event" />
        </div>
      </div>
    </div>
  </div>

  <!-- Contato -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Contato (Opcional)</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-name">Nome</label>
          <app-input
            [id]="'company-form-employee-name'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.employee.name"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.employee.name = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-cnpj">Depto</label>
          <app-input
            [id]="'company-form-employee-department'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.employee.department || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.employee.department = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-cnpj">Cargo</label>
          <app-input
            [id]="'company-form-employee-position'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.employee.position || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.employee.position = $event" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-ie">E-mail</label>
          <app-input
            [id]="'company-form-employee-email'"
            [inputName]="'custom'"
            [inputValue]="companyDetailedData.employee.email || ''"
            [type]="'search'"
            (inputValueEmitter)="companyDetailedData.employee.email = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-im">Telefone fixo</label>
          <app-input
            [id]="'company-form-employee-deskphone'"
            [inputName]="'phone'"
            [inputValue]="companyDetailedData.employee.deskphone || ''"
            (inputValueEmitter)="companyDetailedData.employee.deskphone = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label class="font-medium text-sm" for="company-form-im">Celular</label>
          <app-input
            [id]="'company-form-employee-mobile'"
            [inputName]="'phone'"
            [inputValue]="companyDetailedData.employee.cellphone || ''"
            (inputValueEmitter)="companyDetailedData.employee.cellphone = $event" />
        </div>
      </div>
    </div>
  </div>

  <footer class="flex gap-4 items-center justify-center md:justify-end">
    <app-button-label
      (click)="onBackToCompaniesPage()"
      [iconRightName]="'close'"
      [label]="'Cancelar'"
      [isColorLogo]="false"></app-button-label>
    <app-button-label
      [iconRightName]="'save'"
      [label]="'Salvar'"
      (click)="onSaveRegister(onBackToCompaniesPage)"></app-button-label>
  </footer>
</div>
