<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between gap-4 overflow-auto">
    <app-breadcrumb [items]="breadcrumbList" />
    <app-button-label
      (click)="onBackToPreviousPage()"
      [iconRightName]="'keyboard_arrow_left'"
      [label]="'Voltar'"
      [isColorLogo]="false"
      (click)="onBackToPreviousPage()" />
  </div>

  <!-- Dados cadastrais -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Dados cadastrais</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >Nome Fantasia <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.nickname"
            [type]="'search'"
            (inputValueEmitter)="companyForm.nickname = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >Nome <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.name"
            [type]="'search'"
            (inputValueEmitter)="companyForm.name = $event" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >CNPJ ou CPF <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [inputName]="'cnpj'"
            [inputValue]="companyForm.cnpj || ''"
            [type]="'search'"
            (inputValueEmitter)="companyForm.cnpj = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Inscrição Estadual</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.ie || ''"
            [type]="'search'"
            (inputValueEmitter)="companyForm.ie = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Inscrição Municipal</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.im || ''"
            [type]="'search'"
            (inputValueEmitter)="companyForm.im = $event" />
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Endereço (Opcional)</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1">
          <label #labelForm class="font-medium text-sm" for="default">CEP</label>
          <app-input
            [inputName]="'postalCode'"
            [inputValue]="companyForm.address.postalCode"
            (changeEmitter)="onSetAddressViaCEPValues()"
            (inputValueEmitter)="companyForm.address.postalCode = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Logradouro</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.address.address"
            [type]="'search'"
            (inputValueEmitter)="companyForm.address.address = $event" />
        </div>
        <div class="flex flex-col gap-1">
          <label #labelForm class="font-medium text-sm" for="default">Número</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.address.number || ''"
            [type]="'search'"
            (inputValueEmitter)="companyForm.address.number = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Complemento</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.address.complement || ''"
            [type]="'search'"
            (inputValueEmitter)="companyForm.address.complement = $event" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Bairro</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.address.district || ''"
            [type]="'search'"
            (inputValueEmitter)="companyForm.address.district = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Cidade</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="companyForm.address.city || ''"
            [type]="'search'"
            (inputValueEmitter)="companyForm.address.city = $event" />
        </div>
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="default">UF</label>
          <app-select
            [selectType]="'state'"
            [selectValue]="companyForm.address.state || 'Selecione um item'"
            (selectValueEmitter)="companyForm.address.state = $event.toString()" />
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Contato (Opcional)</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Nome</label>
          <app-input
            [id]="'company-form-employee-name'"
            [inputName]="'custom'"
            [inputValue]="companyForm.employee[0].name"
            [type]="'search'"
            (inputValueEmitter)="companyForm.employee[0].name = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Depto</label>
          <app-select
            [selectType]="'custom'"
            [optionList]="departmentOptionList"
            [selectValue]="
              companyForm.employee[0].department ? companyForm.employee[0].department.name : ''
            "
            (selectValueEmitter)="setDepartmentValue($event.toString())" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Cargo</label>
          <app-select
            [selectType]="'custom'"
            [optionList]="employeePositionOptionList"
            [selectValue]="
              companyForm.employee[0].employeePosition
                ? companyForm.employee[0].employeePosition.name
                : ''
            "
            (selectValueEmitter)="setEmployeePositionValue($event.toString())" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">E-mail</label>
          <app-input
            [id]="'company-form-employee-email'"
            [inputName]="'custom'"
            [inputValue]="companyForm.employee[0].email || ''"
            [type]="'search'"
            (inputValueEmitter)="companyForm.employee[0].email = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Telefone fixo</label>
          <app-input
            [id]="'company-form-employee-deskphone'"
            [inputName]="'phone'"
            [inputValue]="companyForm.employee[0].deskphone || ''"
            (inputValueEmitter)="companyForm.employee[0].deskphone = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Celular</label>
          <app-input
            [id]="'company-form-employee-mobile'"
            [inputName]="'phone'"
            [inputValue]="companyForm.employee[0].cellphone || ''"
            (inputValueEmitter)="companyForm.employee[0].cellphone = $event" />
        </div>
      </div>
    </div>
  </div>

  <footer class="flex gap-4 items-center justify-center md:justify-end">
    <app-button-label
      (click)="onBackToPreviousPage()"
      [iconRightName]="'close'"
      [label]="'Cancelar'"
      [isColorLogo]="false"></app-button-label>
    <app-button-label
      [iconRightName]="'save'"
      [label]="'Salvar'"
      (click)="onSaveRegister(onBackToPreviousPage)"></app-button-label>
  </footer>
</div>

<app-modal-info
  [isModalActive]="modalInfo().isActive"
  [type]="modalInfo().type"
  [description]="modalInfo().description"
  [title]="modalInfo().title"
  (clickEmitter)="onCloseInfoModal()" />
<app-loading [isLoading]="isLoading()" />
