<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between gap-4 overflow-auto">
    <app-breadcrumb [items]="breadcrumbList" />
    <app-button-label
      (click)="onBackToPreviousPage()"
      [iconRightName]="'keyboard_arrow_left'"
      [label]="'Voltar'"
      [isColorLogo]="false"
      (click)="onBackToPreviousPage()" />
  </div>

  <!-- Dados cadastrais -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Dados cadastrais</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >Nome Fantasia <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.company.nickname"
            [type]="'search'"
            (inputValueEmitter)="detailedData.company.nickname = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >Nome <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.company.name"
            [type]="'search'"
            (inputValueEmitter)="detailedData.company.name = $event" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default"
            >CNPJ ou CPF <span class="font-bold text-red-400">*</span></label
          >
          <app-input
            [inputName]="'cnpj'"
            [inputValue]="detailedData.company.cnpj || ''"
            [type]="'search'"
            (inputValueEmitter)="detailedData.company.cnpj = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Inscrição Estadual</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.company.ie || ''"
            [type]="'search'"
            (inputValueEmitter)="detailedData.company.ie = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Inscrição Municipal</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.company.im || ''"
            [type]="'search'"
            (inputValueEmitter)="detailedData.company.im = $event" />
        </div>
      </div>
    </div>
  </div>

  <!-- Endereço -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Endereço (Opcional)</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1">
          <label #labelForm class="font-medium text-sm" for="default">CEP</label>
          <app-input
            [inputName]="'postalCode'"
            [inputValue]="detailedData.address.postalCode"
            (changeEmitter)="onSetAddressViaCEPValues()"
            (inputValueEmitter)="detailedData.address.postalCode = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Logradouro</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.address.address"
            [type]="'search'"
            (inputValueEmitter)="detailedData.address.address = $event" />
        </div>
        <div class="flex flex-col gap-1">
          <label #labelForm class="font-medium text-sm" for="default">Número</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.address.number || ''"
            [type]="'search'"
            (inputValueEmitter)="detailedData.address.number = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Complemento</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.address.complement || ''"
            [type]="'search'"
            (inputValueEmitter)="detailedData.address.complement = $event" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Bairro</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.address.district || ''"
            [type]="'search'"
            (inputValueEmitter)="detailedData.address.district = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Cidade</label>
          <app-input
            [inputName]="'custom'"
            [inputValue]="detailedData.address.city || ''"
            [type]="'search'"
            (inputValueEmitter)="detailedData.address.city = $event" />
        </div>
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="default">UF</label>
          <app-select
            [selectType]="'state'"
            [selectValue]="detailedData.address.state || 'Selecione um item'"
            (selectValueEmitter)="detailedData.address.state = $event.toString()" />
        </div>
      </div>
    </div>
  </div>

  <!-- Contato -->

  <div class="flex flex-col gap-4">
    <h1 class="text-lg font-semibold bg-gray-200 p-1 rounded-md">Contato (Opcional)</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Nome</label>
          <app-input
            [id]="'company-form-employee-name'"
            [inputName]="'custom'"
            [inputValue]="detailedData.employee.name"
            [type]="'search'"
            (inputValueEmitter)="detailedData.employee.name = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Depto</label>
          <app-input
            [id]="'company-form-employee-department'"
            [inputName]="'custom'"
            [inputValue]="(detailedData.employee.idDepartment || '').toString()"
            [type]="'search'"
            (inputValueEmitter)="detailedData.employee.idDepartment = +$event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Cargo</label>
          <app-input
            [id]="'company-form-employee-position'"
            [inputName]="'custom'"
            [inputValue]="detailedData.employee.employeePosition?.name || ''"
            [type]="'search'"
            (inputValueEmitter)="setEmployeePositionValue($event)" />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">E-mail</label>
          <app-input
            [id]="'company-form-employee-email'"
            [inputName]="'custom'"
            [inputValue]="detailedData.employee.email || ''"
            [type]="'search'"
            (inputValueEmitter)="detailedData.employee.email = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Telefone fixo</label>
          <app-input
            [id]="'company-form-employee-deskphone'"
            [inputName]="'phone'"
            [inputValue]="detailedData.employee.deskphone || ''"
            (inputValueEmitter)="detailedData.employee.deskphone = $event" />
        </div>
        <div class="flex flex-col gap-1 grow">
          <label #labelForm class="font-medium text-sm" for="default">Celular</label>
          <app-input
            [id]="'company-form-employee-mobile'"
            [inputName]="'phone'"
            [inputValue]="detailedData.employee.cellphone || ''"
            (inputValueEmitter)="detailedData.employee.cellphone = $event" />
        </div>
      </div>
    </div>
  </div>

  <footer class="flex gap-4 items-center justify-center md:justify-end">
    <app-button-label
      (click)="onBackToPreviousPage()"
      [iconRightName]="'close'"
      [label]="'Cancelar'"
      [isColorLogo]="false"></app-button-label>
    <app-button-label
      [iconRightName]="'save'"
      [label]="'Salvar'"
      (click)="onSaveRegister(onBackToPreviousPage)"></app-button-label>
  </footer>
</div>
