@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.mat-typography p {
  margin: 0 0 0;
}

.mat-icon {
  display: flex !important;
  align-items: center !important;
  width: auto !important;
  height: auto !important;
  line-height: normal !important;
}

.hover-bg-color {
  @apply hover:bg-gray-200 transition-all duration-200 ease-in-out;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #a0aec0 transparent; /* cor da barra e do track */
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #a0aec0; /* cor do thumb */
    border-radius: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #718096; /* cor no hover */
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .is-hidden-mobile {
    display: none;
  }
}
