<div class="flex w-full border rounded-md focus:border-0 border-gray-400 p-1">
  <input
    [id]="id"
    [type]="type"
    [disabled]="isDisabled"
    [placeholder]="placeholder"
    [mask]="maskValue"
    [ngModel]="inputValue"
    (input)="onInputValue($event)"
    [ngClass]="inputClass"
    class="bg-transparent focus:outline-none pl-3 pr-1 disabled:bg-gray-100 border-gray-500" />
  @if (iconName && iconName.length > 0) {
    <button (click)="onClick($event)" class="inline-flex items-center">
      <mat-icon class="text-logo font-semibold">{{ iconName }}</mat-icon>
    </button>
  }
</div>
