<app-modal-base
  [showModal]="isModalFormCompanyActive"
  [showHeader]="true"
  [isModalForm]="true"
  [title]="isEditForm ? 'Alterar dados da empresa' : 'Cadastro de nova empresa'"
  (emitCloseModal)="closeModalForm()">
  <div class="body-block">
    <div class="md:grid md:grid-cols-2 gap-4">
      <div class="gap-4">
        @if (companyData.idCompany != 0) {
          <div class="gap-2">
            <label class="font-semibold text-sm" for="">Id</label>
            <app-input-form
              [inputValue]="this.companyData.idCompany.toString()"
              [isDisabled]="true"
              [showRightIcon]="false"
              (emitInputValue)="getInputIdValue($event)"
              [inputClass]="'text-black h-9'"></app-input-form>
          </div>
        }
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">Nome</label>
          <app-input-form
            #inputModal
            [inputValue]="this.companyData.nickname"
            [showRightIcon]="false"
            (emitInputValue)="companyData.nickname = $event"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">E-mail</label>
          <app-input-form
            #inputModal
            [inputValue]="this.companyData.name"
            [showRightIcon]="false"
            (emitInputValue)="companyData.name = $event"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">CNPJ/CPF</label>
          <app-input-form
            #inputModal
            [maskType]="'cnpj'"
            [inputValue]="this.companyData.cnpj"
            [showRightIcon]="false"
            (emitInputValue)="getInputCnpjValue($event)"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
      </div>
      <!-- <div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">Número</label>
          <app-input-form
            #inputModal
            [inputValue]="this.companyData.number.toString()"
            [showRightIcon]="false"
            (emitInputValue)="getInputNumeroValue($event)"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">Complemento</label>
          <app-input-form
            #inputModal
            [inputValue]="this.companyData.complement"
            [showRightIcon]="false"
            (emitInputValue)="companyData.complement = $event"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">Bairro</label>
          <app-input-form
            #inputModal
            [inputValue]="this.companyData.district"
            [showRightIcon]="false"
            (emitInputValue)="companyData.district = $event"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">Cidade</label>
          <app-input-form
            #inputModal
            [inputValue]="this.companyData.city"
            [showRightIcon]="false"
            (emitInputValue)="companyData.city = $event"
            [inputClass]="'text-black h-9'"></app-input-form>
        </div>
        <div class="gap-2">
          <label class="font-semibold text-sm" for="">Estado</label>
          <app-select
            #selectModal
            [selectType]="'estado'"
            [selectValue]="this.companyData.state"
            (selectValueEmitter)="companyData.state = $event"></app-select>
        </div>
      </div> -->
    </div>
  </div>
  <div class="footer-block grid gap-3 mt-5" [ngClass]="isEditForm ? 'grid-cols-2' : 'grid-cols-3'">
    <app-button [btnType]="'cancel'" (click)="closeModalForm()"></app-button>
    @if (!isEditForm) {
      <app-button [btnType]="'clear'" (click)="clearForm()"></app-button>
    }
    <app-button [btnType]="'forward'" (click)="emitFollowEvent()"></app-button>
  </div>
</app-modal-base>
