<!-- <div class="flex flex-col gap-10">
  <div class="flex flex-col gap-5">
    <div
      class="flex flex-col-reverse md:flex-row gap-4 h-full md:items-stretch md:justify-between md:gap-10">
      <app-input-addons />

      <div class="flex justify-center gap-4">
        <div class="is-hidden-mobile">
          <app-table-header-box />
        </div>
        <app-button [showIcon]="true" [btnType]="'icon-add'" (click)="showNewForm()"></app-button>
        <app-button
          [showIcon]="true"
          [isDisabled]="isEditBtnDisabled()"
          [btnType]="'icon-edit'"
          (click)="onShowModalEditForm()"></app-button>
        <app-button
          [showIcon]="true"
          [isDisabled]="isDelBtnDisabled()"
          [btnType]="'icon-delete'"
          (click)="onShowModalAskToDelete()"></app-button>
        @if (isSelectItemModal) {
          <app-button
            [showIcon]="true"
            [isDisabled]="isEditBtnDisabled()"
            [btnType]="'icon-send'"></app-button>
        }
      </div>
    </div>
    <div class="is-hidden-tablet">
      <app-table-header-box/>
    </div>

    <app-table-base>
      <tr thead-row>
        @for (header of tableHeaders(); track $index) {
          @if (header.showHeader) {
            @if ($index == 0) {
              <th class="table-td flex items-center justify-center">
                <input type="checkbox" [(ngModel)]="checkboxHeaderValue" />
              </th>
            } @else {
              <th class="table-td">
                {{ header.name }}
              </th>
            }
          }
        }
      </tr>
      <tbody tbody-row class="divide-y divide-gray-500 border border-gray-500">
        @for (addressData of addressesData(); track addressData.idAddress) {
          <tr class="h-full py-2">
            @if (tableHeaders()[0].showHeader) {
              <td class="table-td flex items-center justify-center">
                <input
                  type="checkbox"
                  name="table-checkbox"
                  (change)="onChangeBodyCheckboxValue($index, $event)"
                  [(ngModel)]="tableCheckbox().body[$index]" />
              </td>
            }
            @if (tableHeaders()[1].showHeader) {
              <td class="table-td">
                {{ addressData.idAddress }}
              </td>
            }
            @if (tableHeaders()[2].showHeader) {
              <td class="table-td">
                {{ addressData.nickname }}
              </td>
            }
            @if (tableHeaders()[3].showHeader) {
              <td class="table-td">
                {{ addressData.postalCode | mask: setMask() }}
              </td>
            }
            @if (tableHeaders()[4].showHeader) {
              <td class="table-td">{{ addressData.address }}</td>
            }
            @if (tableHeaders()[5].showHeader) {
              <td class="table-td">{{ addressData.number }}</td>
            }
            @if (tableHeaders()[6].showHeader) {
              <td class="table-td">{{ addressData.complement }}</td>
            }
            @if (tableHeaders()[7].showHeader) {
              <td class="table-td">{{ addressData.district }}</td>
            }
            @if (tableHeaders()[8].showHeader) {
              <td class="table-td">{{ addressData.city }}</td>
            }
            @if (tableHeaders()[9].showHeader) {
              <td class="table-td">{{ addressData.state }}</td>
            }
          </tr>
        } @empty {
          <tr class="text-center italic">
            <td [attr.colspan]="tableHeaders().length" class="p-2">
              Não existem endereços a serem exibidos!
            </td>
          </tr>
        }
      </tbody>
    </app-table-base>
    <app-pagination
      [currentPage]="pagination().currentPage"
      [lastPage]="pagination().lastPage"
      (currentPageEmitter)="changePage($event)"></app-pagination>
  </div>
</div>

<app-modal-base
  [showModal]="modalForm().isActive"
  [isModalForm]="true"
  [title]="modalForm().isEditForm ? 'Alterar dados de endereço' : 'Cadastro de novo endereço'"
  (emitCloseModal)="onCloseModalForm()">
  <div class="body-block">
    <div class="flex flex-col sm:flex-row sm:gap-5 gap-2 sm:mb-2 mb-3">
      <div class="cursor-pointer">
        <input type="checkbox" [(ngModel)]="isDefaultDelivery" class="mr-2" id="isDelivery" />
        <label for="isDelivery">Entrega padrão</label>
      </div>
      <div class="cursor-pointer">
        <input type="checkbox" [(ngModel)]="isDefaultBilling" class="mr-2" id="isBilling" />
        <label for="isBilling">Cobrança padrão</label>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      @if (modalForm().isEditForm) {
        <div class="flex flex-col gap-1">
          <label class="font-semibold text-sm" for="">Id</label>
          <app-input-standard
            [propsInput]="addressData().idAddress"
            [isDisabled]="true"
            [showRightIcon]="false"
            (emitInputValue)="getAddressId($event)"
            [inputClass]="'text-black h-9'"></app-input-standard>
        </div>
      }
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Apelido</label>
        <app-input-standard
          [propsInput]="addressData().nickname"
          [showRightIcon]="false"
          (emitInputValue)="addressData().nickname = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">CEP</label>
        <app-input-standard
          [propsInput]="addressData().postalCode"
          [maskType]="'postalCode'"
          [showRightIcon]="false"
          (emitInputValue)="addressData().postalCode = $event"
          (changeTriggerEmitter)="setCep()"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Endereço</label>
        <app-input-standard
          [propsInput]="addressData().address"
          [showRightIcon]="false"
          (emitInputValue)="addressData().address = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Número</label>
        <app-input-standard
          [propsInput]="addressData().number || ''"
          [showRightIcon]="false"
          (emitInputValue)="addressData().number = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Complemento</label>
        <app-input-standard
          [propsInput]="addressData().complement || ''"
          [showRightIcon]="false"
          (emitInputValue)="addressData().complement = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-semibold text-sm" for="">Bairro</label>
        <app-input-standard
          [propsInput]="addressData().district || ''"
          [showRightIcon]="false"
          (emitInputValue)="addressData().district = $event"
          [inputClass]="'text-black h-9'"></app-input-standard>
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex flex-col gap-1">
          <label class="font-semibold text-sm" for="">Cidade</label>
          <app-input-standard
            [propsInput]="addressData().city || ''"
            [showRightIcon]="false"
            (emitInputValue)="addressData().city = $event"
            [inputClass]="'text-black h-9'"></app-input-standard>
        </div>
      </div>
      <label class="font-semibold text-sm" for="">UF</label>
      <app-select
        [selectValue]="addressData().state || ''"
        [selectType]="'state'"
        (selectValueEmitter)="addressData().state = $event"></app-select>
    </div>
  </div>
  <div class="grid footer-block md:flex md:justify-center gap-5 mt-6 w-full">
    <app-button [btnType]="'close'" (click)="onCloseModalForm()"></app-button>
    <app-button [btnType]="'success-save'" (click)="save()"></app-button>
  </div>
</app-modal-base>

<app-modal-ask
  [showModal]="modalAsk().isActive"
  [description]="modalInfo().description"
  [type]="modalInfo().type"
  (closeEmitter)="modalAsk().isActive = false"
  (actionOkEmitter)="onModalAskActionOk()"></app-modal-ask>
<app-modal-info
  [showModal]="modalInfo().isActive"
  [description]="modalInfo().description"
  [type]="modalInfo().type"
  (closeModalEmitter)="onCloseModalInfo()"></app-modal-info>
<app-loading [showLoading]="showLoading()"></app-loading> -->
