<div class="flex flex-col overflow-x-auto scrollbar-thin">
  <div class="hidden sm:grid dynamic-grid sm:gap-2" [style.--grid-layout]="gridTemplateColumns">
    @if (!isModal) {
      <div class="table-td flex items-center gap-6 sm:justify-center overflow-hidden text-ellipsis">
        <input
          type="checkbox"
          name="table-checkbox"
          (change)="onHeaderCheckboxChecked($event)"
          [(ngModel)]="tableCheckBox.header" />
        <mat-icon
          (click)="onRefreshBtnClick()"
          content
          class="text-sm text-logo hover:bg-gray-200 hover:rounded-md cursor-pointer"
          >refresh</mat-icon
        >
      </div>
    }
    @for (header of tableHeaders; track trackByHeaderId($index, header)) {
      @if (header.isHeaderActive) {
        <div
          class="table-td relative flex font-semibold items-center gap-1 overflow-x-auto scrollbar-thin">
          <p>{{ header.headerName }}</p>
          <div class="relative flex items-center">
            <mat-icon
              (click)="onClickOnFilterBtnThroughSort($index)"
              class="text-logo hover:bg-gray-200 hover:rounded-md text-sm font-bold cursor-pointer"
              >{{ header.icon }}</mat-icon
            >
            @if (header.sortDirection != 0) {
              <div class="absolute left-[1.2rem] -top-[0.1rem]">
                <app-button-close (click)="onSetSortFilterToDefault()" />
              </div>
            }
          </div>
        </div>
      }
    }
  </div>
  <div class="flex flex-col sm:gap-0">
    @for (
      data of dataList.slice(computedFirstRegister(), computedLastRegister());
      let dataIdx = $index;
      track trackByDataId(dataIdx, data)
    ) {
      <div
        tabindex="0"
        (click)="onRowClick($event, data)"
        (keydown)="onRowClick($event, data)"
        [style.--grid-layout]="gridTemplateColumns"
        class="grid grid-cols-1 sm:gap-2 dynamic-grid mb-2 pb-2 sm:pb-0 sm:mb-0 border-b-[2.5px] border-solid border-gray-200 hover:bg-gray-200 cursor-pointer">
        @if (!isModal) {
          <div
            tabindex="0"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
            class="table-td relative flex sm:justify-center items-center gap-4">
            <input
              type="checkbox"
              name="table-checkbox"
              (change)="onBodyCheckboxCheckChange(dataIdx, $event, data)"
              [(ngModel)]="tableCheckBox.body[$index]" />
            <mat-icon
              #rowIconOptions
              (keydown)="onShowTableItemBox($event, dataIdx)"
              (click)="onShowTableItemBox($event, dataIdx)"
              class="border border-gray-800 rounded-full hover:text-white hover:bg-logo text-center text-sm cursor-pointer p-1 font-semibold"
              >more_horiz</mat-icon
            >
            @if (rowModalVisibilityControlList[dataIdx]) {
              <div
                #divRowModal
                tabindex="0"
                [ngClass]="{
                  'opacity-100': rowModalVisibilityControlList[dataIdx],
                  'opacity-0': !rowModalVisibilityControlList[dataIdx],
                  'sm:-top-6': $last,
                  'top-1': $first,
                }"
                class="absolute flex flex-col gap-1 translate-x-[4.7rem] p-2 border border-gray-400 rounded-md bg-gray-100 text-xs">
                <button
                  (click)="onCloneBtnClick(data)"
                  class="hover:bg-logo hover:text-white hover:rounded-md px-2">
                  Clonar
                </button>
                <button
                  (click)="onDeleteBtnClick(data)"
                  class="hover:bg-logo hover:text-white hover:rounded-md px-2">
                  Excluir
                </button>
              </div>
            }
          </div>
        }
        @for (
          header of tableHeaders;
          let headerIdx = $index;
          track trackByHeaderId($index, header)
        ) {
          @if (header.isHeaderActive) {
            <div class="table-td overflow-hidden text-ellipsis">
              @if (data[header.databaseField]) {
                <span class="block sm:hidden font-semibold">{{ header.headerName }}: </span>
              }
              @if (header.databaseField == 'photoUrl') {
                <img
                  [src]="formatCell(data, header.databaseField)"
                  alt="Photo Image"
                  class="w-5 aspect-square" />
              } @else {
                <p
                  class="flex"
                  [class.justify-between]="isModal && tableHeaders.length - 1 == headerIdx"
                  [class.gap-2]="header.databaseField == 'status'">
                  @if (header.databaseField == 'status') {
                    <mat-icon [ngClass]="icons[computedFirstRegister() + dataIdx].backgroundColor">
                      {{ icons[computedFirstRegister() + dataIdx].iconName }}
                    </mat-icon>
                  }
                  <span>
                    @switch (header.databaseField) {
                      @case ('cnpj') {
                        {{ formatCell(data, header.databaseField) }}
                      }
                      @case ('origin') {
                        {{ onSetOrigin(data) }}
                      }
                      @default {
                        {{ data[header.databaseField] }}
                      }
                    }
                  </span>
                  @if (isModal && tableHeaders.length - 1 == headerIdx) {
                    <mat-icon class="text-green-400">check_circle</mat-icon>
                  }
                </p>
              }
            </div>
          }
        }
      </div>
    }
  </div>
</div>
