<div class="flex flex-col overflow-x-auto">
  <div class="hidden sm:grid dynamic-grid sm:gap-2" [style.--grid-layout]="gridTemplateColumns()">
    <div class="table-td flex items-center gap-6 sm:justify-center overflow-hidden text-ellipsis">
      <input
        type="checkbox"
        name="table-checkbox"
        (change)="baseRegisterStore.onHeaderCheckboxChecked($event)"
        [(ngModel)]="baseRegisterStore.tableCheckbox().header" />
      <mat-icon
        (click)="onRefreshBtnClick()"
        content
        class="text-sm text-logo hover:bg-gray-200 hover:rounded-md cursor-pointer"
        >refresh</mat-icon
      >
    </div>
    @for (header of baseRegisterStore.tableHeaders(); track $index) {
      @if (header.isHeaderActive) {
        <div class="table-td relative flex font-semibold items-center gap-1 overflow-x-auto">
          <p>{{ header.headerName }}</p>
          <div class="relative flex items-center">
            <mat-icon
              (click)="baseRegisterStore.onClickOnFilterBtnThroughSort($index)"
              class="text-logo hover:bg-gray-200 hover:rounded-md text-sm font-bold cursor-pointer"
              >{{ header.icon }}</mat-icon
            >
            @if (header.sortDirection != 0) {
              <div class="absolute left-[1.2rem] -top-[0.1rem]">
                <app-button-close (click)="baseRegisterStore.onSetSortFilterToDefault()" />
              </div>
            }
          </div>
        </div>
      }
    }
  </div>
  <div class="flex flex-col sm:gap-0">
    @for (data of dataList().slice(computedFirstRegister(), computedLastRegister()); track $index) {
      <div
        tabindex="0"
        (click)="onRowClick(data)"
        (keydown)="onRowClick(data)"
        [style.--grid-layout]="gridTemplateColumns()"
        class="grid grid-cols-1 sm:gap-2 dynamic-grid mb-2 pb-2 sm:pb-0 sm:mb-0 border-b-[2.5px] border-solid border-gray-200 hover:bg-gray-200 cursor-pointer">
        <div
          tabindex="0"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
          class="table-td relative flex sm:justify-center items-center gap-4">
          <input
            type="checkbox"
            name="table-checkbox"
            (change)="baseRegisterStore.onBodyCheckboxCheckChange($index, $event)"
            [(ngModel)]="baseRegisterStore.tableCheckbox().body[$index]" />
          <mat-icon
            #iconOptions
            (keydown)="baseRegisterStore.onShowTableItemBox($event, $index)"
            (click)="baseRegisterStore.onShowTableItemBox($event, $index)"
            class="border border-gray-800 rounded-full hover:text-white hover:bg-logo text-center text-sm cursor-pointer p-1 font-semibold"
            >more_horiz</mat-icon
          >
          @if (baseRegisterStore.tableItemsBox()[$index]) {
            <div
              #divBoxes
              tabindex="0"
              [ngClass]="{
                'opacity-100': baseRegisterStore.tableItemsBox()[$index],
                'opacity-0': !baseRegisterStore.tableItemsBox()[$index],
                'sm:-top-6': $last,
                'top-1': $first,
              }"
              class="absolute flex flex-col gap-1 translate-x-[4.7rem] p-2 border border-gray-400 rounded-md bg-gray-100 text-xs transition-opacity duration-300 ease-in-out">
              <button
                (click)="onCloneBtnClick(data)"
                class="hover:bg-gray-200 hover:rounded-md px-2">
                Clonar
              </button>
              <button
                (click)="onDeleteBtnClick(data)"
                class="hover:bg-gray-200 hover:rounded-md px-2">
                Excluir
              </button>
            </div>
          }
        </div>
        @for (header of baseRegisterStore.tableHeaders(); track $index) {
          @if (header.isHeaderActive) {
            <div class="table-td overflow-hidden text-ellipsis">
              @if (data[header.databaseField]) {
                <span class="block sm:hidden font-semibold">{{ header.headerName }}: </span>
              }

              <span>
                @switch (header.databaseField) {
                  @case ('cnpj') {
                    {{ formatCell(data, header.databaseField) }}
                  }
                  @default {
                    {{ data[header.databaseField] }}
                  }
                }
              </span>
            </div>
          }
        }
      </div>
    }
  </div>
</div>
